<a href="https://colab.research.google.com/github/rlfwo93/Python/blob/master/3weeks/3week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***list의 개념***

In [4]:
print("리스트: list 란?: 자바나c의 배열같은 데이터 타입")
odd = [1, 3, 5, 7, 9]
# 여러 가지 리스트
print("a = []   # list 초기화")
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
print("d = [1, 2, 'Life', 'is'] #정수형과 문자형이 같이 들어갈수 있음")
print("e = [1, 2, ['Life', 'is']] # 이차원 배열같은 데이터 타입")

리스트: list 란?: 자바나c의 배열같은 데이터 타입
a = []   # list 초기화
d = [1, 2, 'Life', 'is'] #정수형과 문자형이 같이 들어갈수 있음
e = [1, 2, ['Life', 'is']] # 이차원 배열같은 데이터 타입

# ***리스트의 인덱스와 슬라이싱***

In [14]:
print("리스트: 리스트의 인덱싱과 슬라이싱")
a = [1, 2, 3]
a
a[0]
print("a[3] 인덱스는 0부터 시작하는데 3이라는 인덱스는 없기떄문에 에러뜸")
print("a[0]+a[2] = 4  # 배열의 연산도 할수 있음")
print("a[-1] #배열의 마지막 부터 시작")
#
a = [1, 2, 3, ['a', 'b', 'c']]
print("a = [1, 2, 3, ['a', 'b', 'c']]")
a[0]
a[3]
print("a[-1] = ['a','b','c'] # 배열안에 있는 배열은 큰배열의 하나의 인덱스로 침")
# chaek this: a[0] + a[-1] -> TypeError
# Indexing inner list
a[-1][0]
a[-1][-1]

# 리스트의 슬라이싱
a = [1, 2, 3, 4, 5]
print("a = [1, 2, 3, 4, 5]")
print("a[0:2] = [1,2]"")
a = "12345"
      print('a[0:2] = a="12"')
a[0:2]
#
a = [1, 2, 3, 4, 5]
a[0:2]
a[2:]
a[0:4:2]  # a[start:end:step]

# 리스트: 인덱싱, 슬라이싱 연습
#
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
x[0:3]
x[3:]
x[:6]
x[0:6:2]  # x[:6:2]
x[-1]
x[-3]
x[:-3]
x[::-1] #리스트를 리버스 시킨다 스텝이 -1이기떄문
x[-3::-1] #7부터 -리버스 시킨다 스텝이 -1이기떄문

리스트: 리스트의 인덱싱과 슬라이싱
a[3] 인덱스는 0부터 시작하는데 3이라는 인덱스는 없기떄문에 에러뜸
a[0]+a[2] = 4  # 배열의 연산도 할수 있음
a[-1] #배열의 마지막 부터 시작
a = [1, 2, 3, ['a', 'b', 'c']]
a[-1] = ['a','b','c'] # 배열안에 있는 배열은 큰배열의 하나의 인덱스로 침
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][-1][0]   # 'Life' 가 출력된다.
a = [1, 2, 3, 4, 5]
[1, 2]

[7, 6, 5, 4, 3, 2, 1]

# ***삼중 리스트에서 인덱싱하기***

In [16]:
# Indexing of triple list
# 삼중 리스트에서 인덱싱하기
a = [1, 2, ['a', 'b', ['Life', 'is']]]
print("a = [1, 2, ['a', 'b', ['Life', 'is']]]")
print(a[2]) # ['a', 'b', ['Life', 'is']] 출력됨.
print(a[2][-1]) #['life','is'] 출력됨
print(a[2][-1][0])   # 'Life' 가 출력된다.

a = [1, 2, ['a', 'b', ['Life', 'is']]]
['a', 'b', ['Life', 'is']]
['Life', 'is']
Life

# ***중첩된 리스트에서 인덱싱하기***

In [21]:
# 중첩된 리스트에서 슬라이싱하기
#
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5]) # [3, ['a', 'b', 'c'], 4]출력됨.
print(a[3][:2]) #['a', 'b'] 출력함.

[3, ['a', 'b', 'c'], 4]
['a', 'b']

# ***리스트 연산하기***

In [30]:
print("리스트: 리스트 연산하기")
###################################

print("리스트 더하기(+)")

a = [1, 2, 3]
b = [4, 5, 6]
print(a)
print(b)
print(a + b) # [1, 2, 3, 4, 5, 6]출력됨
#
print("리스트 반복하기(*)")
#
print(a * 3) #[1, 2, 3, 1, 2, 3, 1, 2, 3] 출력됨
#
print("리스트 길이구하기")
#
print(len(a))
#
print("초보자가 범하기 쉬운 리스트 연산 오류")

a = [1, 2, 3]
#a[2] + "hi" a[2]는 정수인데 문자인 hi를 더할수없음.
print(str(a[2]) + "hi") #a[2]를 문자형으로 만들어주고 hi를 더함.

리스트: 리스트 연산하기
리스트 더하기(+)
[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]
리스트 반복하기(*)
[1, 2, 3, 1, 2, 3, 1, 2, 3]
리스트 길이구하기
3
초보자가 범하기 쉬운 리스트 연산 오류

# 리스트의 수정과 삭제

In [32]:
# 리스트의 수정과 삭제
#
a = [1, 2, 3]
a[2] = 4  # list is mutable!!!
print(a) # 1,2,4 가 출력된다 배열은 가변형이기때문에 값이 바뀐다.

[1, 2, 4]

# del 함수 사용햐 리스트 요소 삭제하기

In [34]:
# del은 원하는 인덱스의 값을 삭제해준다.
a = [1, 2, 3]
del a[1] #인덱스 1의값인 2를 삭제함.
print(a) # 인덱스1의값인 2를 삭제하여 [1,3]이 출력이된다.
a = [1, 2, 3, 4, 5]
del a[2:] #인덱싱을 이용하여 3,4,5를 삭제한다.
print(a) # 3,4,5,를 삭제한 값인 [1,2] 가 출력된다.

[1, 3]
[1, 2]

# ***리스트 내부함수 사용하기 : append***

In [35]:
a = [1, 2, 3]
a.append(4) #맨 마지막 인덱스뒤에 4를 추가한다.
print(a) #[1,2,3,4]가 출력이된다.
# 리스트 안에는 어떤 자료형도 추가할 수 있다.
# 리스트에 다시 리스트를 추가한 결과
a.append([5, 6]) #  마지막 인덱스에 [5,6]을 추가한다.
print(a) #4뒤에 배열[5,6,]을 추가하여 [1, 2, 3, 4, [5, 6]] 출력이됨.
#

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

# ***리스트 내장함수 사용하기 : sort***

In [36]:
#sort는 배열의 값을 정렬 해주는 함수이다.
a=[1,4,3,2]
print(a)
a.sort() #값을 정렬해주는 함수
print(a) #1,4,3,2의 값을 가지고 있었지만 sort를 써서 값을 해줘서 1,2,3,4 가 출력이됨.

[1, 4, 3, 2]
[1, 2, 3, 4]

# ***리스트 내장함수 사용하기 : reverse***

In [37]:
# 리스트 뒤집기(reverse)
#
a = ["a", "c", "b"]
a.reverse() # 리버스는 값을 뒤집어주는 함수이다.
print(a)  #원래 값이 a c b 였지만 reverse를 사용해서 뒤집었기때문에 b c a 가 출력이된다.

['b', 'c', 'a']

## ***리스트 내장함수 사용하기 : index***

In [40]:
# 위치 반환(index)
# index함수는 내가 원하는 값의 위치를 알려주는 함수이다.
a = [1, 2, 3]
print(a.index(3)) #3의 위치 3의 위치는 2이기 때문에 2가 출력
print(a.index(1)) # 1의 위치 1의 위치는 0번째기 떄문에 0이 출력

#(a.index(0)) # 0 의 위치 0이라는 값이 없기 때문에 에러가 뜬다.


s = ["a", "c", "b"]
#s.index(3)  # Error 3이라는 값이 없기때문에 에러가 뜸.
#s.index(a)  # Error a는 문자열이기때문에 "a"를 해줘여함.
s.index("a") #0번 째기 때문에 0이출력

2
0

0

## ***리스트 내장함수 사용하기 : insert***

In [42]:
# 리스트에 요소 삽입(insert)
# insert 함수는 원하는 인덱스에 원하는 값을 넣어주는 함수이다.
a = [1, 2, 3]
a.insert(0, 4) #0번째 인덱스에 4를 추가함
print(a) # 4,1,2,3 이 출력이됨.
a.insert(3, 5) # 3번째 인덱스에 5의 값을 추가함.
print(a) # 4,1,2,5,3 이 출력됨.

[4, 1, 2, 3]

[4, 1, 2, 5, 3]

## ***리스트 내장함수 사용하기 : remove***

In [44]:
# 리스트 요소 제거(remove)
# 원하는 값을 삭제 시켜주는 함수이다
a = [1, 2, 3, 1, 2, 3]
a.remove(3) #맨처음에 나오는 3을 삭제시켜준다
print(a) # [1,2,1,2,3] 이 출력이된다.
# 3을 리스트 a에서 완전히 제거
a.remove(3) #[1,2,1,2,3] 에서 3을 한번더 삭제를한다.
print(a) #[1,2,1,2] 가 출력이됨.

#a.remove(3)  # ValueError 3이라는 값이 없기떄문에 에러가 발생.

[1, 2, 1, 2, 3]
[1, 2, 1, 2]

# ***리스트 내장함수 사용하기 : pop***

In [48]:
# pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제한다.
a = [1, 2, 3]
print(a.pop()) #맨 마지막 요소인 3을 출력하고 3을 삭제한다.
print(a) # 3을 출력하고 삭제를 했기 때문에 1,2 가 출력이된다.
#
a = [1, 2, 3]
# pop(x)는 리스트의 index가 x인 요소를 돌려주고 그 요소는 삭제한다.
a.pop(1) #첫번째 요소인 2를 출력하고 2를 삭제한다.
print(a) # 2를 출력하고 삭제했기때문에 1,3이 출력된다.
#a.pop(2)  # IndexError  # 2번째 인덱스가 없기때문에 인덱스 에러가 발생한다.

3
[1, 2]
[1, 3]

# ***리스트 내장함수 사용하기 : count***

In [49]:
# 리스트에 포함된 요소 x의 개수 세기(count)
# 카운트는 리스트에 특정한 값이 몇개가 들었는지 알려주는 함수이다.
a = [1, 2, 3, 1]
print(a.count(1)) # 1이 두개있기때문에 2가 출력된다.

2

# ***리스트 내장함수 사용하기 : extend***

In [51]:
# 리스트 확장(extend)
# 값을 맨뒤에 추가해줌.
a = [1, 2, 3]
a.extend([4, 5]) # 4,5를 추가해줌
print(a)  # a.extend([4, 5])는 a += [4, 5]와 동일 
#4,5를 추가했기때문에 [1, 2, 3, 4, 5] 출력이됨.

b = [6, 7]
a.extend(b) # 6,7를 추가해줌.
print(a) # 6,7를 추가했기때문에 [1, 2, 3, 4, 5, 6, 7] 출력

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]

# ***튜플(tuple)이란?***

In [54]:
# 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
# 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다(불변형)

even = (2, 4, 6, 8)
# 여러 가지 튜플
t1 = ()  # 튜플 초기화
print(t1) # ()출력
t2 = (1,) #튜플에 넣을 값이 한개일경우에는  ',' 를 넣어줘여함.
print(t2) # (1,)가 출력
t3 = (1, 2, 3)
print(t3) #(1,2,3) 을출력
t4 = (1, 2, 3)
print(t4) # (1,2,3) 이 출력됨
t5 = ("a", "b", ("ab", "cd"))
print(t5) # ('a', 'b', ('ab', 'cd')) 출려됨.
# t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에
# 콤마(,)를 반드시 붙여야 한다는 것과
# t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다.
#####################################################
#
# 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?
#
# 1. 튜플 요솟값을 삭제하려 할 때
t1 = (1, 2, "a", "b")
##del t1[0]  # Error  튜플은 불변이기떄문에 값이 삭제가 안됨.
#
# 2. 튜플 요솟값을 변경하려 할 때
#
#t1[0] = "c"  # TypeError  튜플은 불변이기때문에 값 변경 또한 안됨.
#
#

()
(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

# ***튜플 사용하는 방법***

In [58]:
#
# 인덱싱하기
# 튜플도 리스트와 같이 인덱스를 사용할수있음.
t1 = (1, 2, "a", "b")
print(t1[0]) #1이 출력됨
print(t1[3]) #b가 출력됨.
#
# 슬라이싱하기
#
t1 = (1, 2, "a", "b")
t1[1:]
t1[2:-1]  # ('a',)
t1[2:]
#
# 튜플 더하기
#
t1 = (1, 2, "a", "b")
t2 = (3, 4)
print(t1 + t2) #(1, 2, 'a', 'b', 3, 4) 가 출력
#
# 튜플 곱하기
#
t2 = (3, 4)
print(id(t2)) #140077857268808
t2 * 3
print(id(t2)) # 140077857268808
t2 = t2 * 3 #제정의를하면 주소값이 달라짐 
print(id(t2)) #140077856760456
# 값을 제정의를 했기 떄문에 주소 값이 달라짐.
#
# 튜플 길이 구하기
#
t1 = (1, 2, "a", "b")
len(t1) #가출력이됨. len()은 리스트나 튜플의 길이를 구해줌.
#
#

1
b
(1, 2, 'a', 'b', 3, 4)
140077857268808
140077857268808
140077856760456

4

# ***딕셔너리(Dictionary)란?***

In [0]:
# 딕셔너리란 대응 관계를 나타내는 자료형.
# 연관 배열(Associative array) 또는 해시(Hash)
# 딕셔너리는 Key와 Value를 한 쌍으로 갖는 자료형
#
# 기본 딕셔너리의 모습
# {Key1:Value1, Key2:Value2, Key3:Value3, ...}
# Key와 Value의 쌍 여러 개가 { }로 둘러싸여 있다.
# 각각의 요소는 Key : Value 형태로 이루어져 있고 쉼표(,)로 구분
dic = {"name": "pey", "phone": "0119993323", "birth": "1118"
# Key는 각각 'name', 'phone', 'birth'
# 각 Key에 해당하는 Value는 'pey', '0119993323', '1118'

# ***딕셔너리 사용하기***

In [61]:
# 여러 가지 딕셔너리
a = {1: "hi"}
print(a[1]) #1번키의 값은 hi이므로 hi가 출력
a = {"a": [1, 2, 3]}  # value에는 복합 자료형도 사용된다.
print(len(a)) #딕셔너리도 len함수를 쓸수있다 한쌍이 있기때문에 1이 출력됨.

#a[a]  # TypeError #"a"가 키이고 a라는 키는 없기때문에 에러발생
a["a"] #"a"키의 값이 [1,2,3]이므로 [1,2,3] 출력

hi
1

[1, 2, 3]

# ***딕셔너리 쌍 추가하기***

In [64]:
a = {1: "a"}
print(a)
a[2] = "b" #2의 키값에 b를 추가해줌.
a["name"] = "pey"# name이라는 키에다가 pey를 추가해줌.
print(a)
a[3] = [1, 2, 3] #3의키에 [1,2,3] 을 추가해줌.
print(a) #{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]} 출력.

{1: 'a'}
{1: 'a', 2: 'b', 'name': 'pey'}
{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

## ***딕셔너리 쌍 삭제하기***

In [65]:
a = {1: "a"}
del a[1] #키의값1의 쌍을 삭제
a #공백출력

{}

# ***딕셔너리 사용하기***

In [67]:
d = {"김연아": "피겨스케이팅", "류현진": "야구", "손흥민": "축구", "귀도": "파이썬"}
print(d) # 딕셔너리의 모든 쌍인 {'김연아': '피겨스케이팅', '류현진': '야구', '손흥민': '축구', '귀도': '파이썬'} 출력

d["손흥민"] # 벨류값인 축구 출력

{'김연아': '피겨스케이팅', '류현진': '야구', '손흥민': '축구', '귀도': '파이썬'}

'축구'

# ***딕셔너리에서 Key 사용해 Value 얻기***

In [69]:
grade = {"pey": 10, "julliet": 99}
print(grade["pey"]) #10이출력
print(grade["julliet"]) #99출력
#
a = {1: "a", 2: "b"}
print(a[1])  # 1은 key a출력
#
a = {"a": 1, "b": 2}
a["b"] #2가출력
#a[b]  # TypeError #"b"가 키값이고 b는 없기때문에 에러발생.
#
dic = {"name": "pey", "phone": "0109993323", "birth": "1118"}
print(dic["birth"]) # 1118출력
print(dic["phone"]) # 0109993323 출력
#
# 딕셔너리 만들 때 주의할 사항
# 딕셔너리에서 Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면
# 하나를 제외한 나머지 것들이 모두 무시된다
#
a = {1: "a", 1: "b"}
a[1]
#

10
99
a
1118
0109993323

'b'

# ***딕셔너리 내장 함수: key값을 리스트로 만들기***

In [75]:
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
a.keys() # 키값만 모아줌
print(a.keys()) #키값만 모아준다.
print(list(a.keys())) #키값을 모아서 리스트로 만듬.


# Value 리스트 만들기(values)
#
print(a.values()) #딕셔너리의 벨류값만 모아서 출력
#
# Key, Value 쌍 얻기(items)
#
print(a.items())  # Key와 Value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려준다.
#dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')]) 출력됨.
#
# Key: Value 쌍 모두 지우기(clear)
#
print(a.clear()) #모조리 씹어먹어버림.

dict_keys(['name', 'phone', 'birth'])
['name', 'phone', 'birth']
dict_values(['pey', '0119993323', '1118'])
dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])
None

# ***딕셔너리 내장함수: get함수.***

In [80]:
# 키값으로 벨류값을 얻게해주는 함수가 get함수이다.
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
print(a.get("name"))  # a['name'] #pey출력
print(a.get("phone"))  # a['phone'] # 0119993323출력


# print(a["nokey"])  # KeyError #키값이 없기때문에 에러발생


# get(x, '디폴트 값')
#
# 딕셔너리 안에 찾으려는 Key 값이 없을 경우
# 미리 정해 둔 디폴트 값을 대신 가져오게 설정.
#
print(a.get("foo", "bar")) #foo 라는 키값이 없을경우 bar를 출력하라는 것. 
# foo라는 키가 없기때문에 bar출력
print(a.get("name", "bar")) # name 이라는 키값은 존재하기떄문에 pey가 출력

pey
0119993323
bar
pey

# ***해당 key가 딕셔너리 안에 있는지 조사하기(in)***

In [83]:
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
print("name" in a) #name이라는 키값이 a에 있기때문에 True
print("foo" in a) #foo라는 키는 a에 없기떄문에 false나옴

True
False

# ***집합: 집합(set)이란?***

In [92]:
# 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형
# 중복된 값을 허용하지 않는다.
#
# set 키워드를 사용해서 집합자료형을 만든다.
#
s1 = set([1, 2, 3])
print(s1) # {1,2,3} 출력
s1n = set([1, 2, 3, 2])
print(s1n) # 중복된 2의 값을 삭제하고 {1,2,3,} 출력
s2 = set("Hello")
print(s2) #중복된 l의 값을 삭제하고 {'o', 'l', 'e', 'H'} 출력. 
# set은 인덱스가 없기떄문에 순서도 지멋대로다.
#인덱스로 접근할수 없음.
#print(s1[0]) 인덱스로 접근할수 없기떄문에 에러 발생.

l1=list(s1)
print(l1) #set을 list함수를 써서 리스트로 만들어줌
print(l1[0]) # 자료형이 리스트이기 때문에 인덱스로 접근가능. [1, 2, 3] 출력

t1=tuple(s1) #튜플로 만들어줌.
print(t1)
print(t1[0]) #튜플이기 떄문에 인덱스접근가능 (1, 2, 3) 출력

{1, 2, 3}
{1, 2, 3}
{'o', 'l', 'e', 'H'}
[1, 2, 3]
1
(1, 2, 3)
1

# ***교집합, 합집합, 차집합 구하기***

In [95]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
# 
# 1. 교집합 #중복된 값을 가지는 집합
#
print(s1 & s2) # {4, 5, 6}
print(s1.intersection(s2)) # {4, 5, 6} 
# 
# 2. 합집합 # 모든요소를 합한 집합
#
print(s1 | s2) #{1, 2, 3, 4, 5, 6, 7, 8, 9}
print(s1.union(s2)) # {1, 2, 3, 4, 5, 6, 7, 8, 9}
# 
# 3. 차집합 #공통된 값을 뺀 집합.
#
print(s1 - s2) # {1, 2, 3}
print(s2 - s1) # {8, 9, 7}
print(s1.difference(s2)) # {1, 2, 3}
print(s2.difference(s1)) # {8, 9, 7}

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

# ***집합 내장함수***

In [98]:
#
# 값 1개 추가하기(add)
#
s1 = set([1, 2, 3])
s1.add(4) #[1,2,3] 의 맨 마지막에 4를 추가
print(s1)
#
# 값 여러 개 추가하기(update)
#
s1 = set([1, 2, 3])
s1.update([4,5,6]) # 맨 마지막에 [4,5,6]을 추가했기때문에 {1, 2, 3, 4, 5, 6} 출력됨.
print(s1)
#
# 특정 값 제거하기(remove)
#
s1 = set([1, 2, 3])
s1.remove(2) #2의값을 뺀다.
print(s1) # 2의 값을 뻇기떄문에 {1, 3} 출력됨.

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 3}

# ***불 자료형이란?***

In [101]:

# 불(bool) 자료형이란 참(True)과 거짓(False)을 나타내는 자료형이다.
# 불 자료형은 다음 2가지 값만을 가질 수 있다.
# True - 참
# False - 거짓
# True나 False는 파이썬의 예약어로 true, false와 같이 사용하지 말고
# 첫 문자를 항상 대문자로 사용해야 한다.
#
a = True
b = False
type(a), type(b) #True, false 의 값을 가지기떄문에 type이 bool형이다.
#
# 참과 거짓


print(1 == 1) #True
print(2 > 1) #True
print(2 < 10) #True
print(True + 1) #True 는 1의값을 가지기때문에 +1을해서 2를 출력
print(False + 1) #false는 0의 값을 가지기때문에 +1을해서 1을 출력

True
True
True
2
1

# ***자료형의 참과 거짓***

In [105]:
# 자료형의 참과 거짓
#
print(bool("python")) #문자열의 값이 들어가있기때문에 True
print(bool("")) #공백이기때문에 False
print(bool([1, 2, 3])) #값이 들어가있기때문에 True
print(bool([])) #값이 비어 있기때문에 False
print(bool(())) #값이 비어 있기때문에 False
print(bool({})) #값이 비어 있기때문에 False
print(bool(1)) #값이 들어있기때문에 True
print(bool(0)) #정수형에서 0은 값이 없는거이기 떄문에 False
print(bool(None)) # none 없다는 뜻이기때문에 False

############################
#  Representation error
## double precision representation of floating-point numbers
############################
1-0.9
# 0.09999999999999998
print(1-0.9==.1) #상식적으로 계산했을때는 맞지만  값이  0.09999999999999998 이렇게 나온다.
#그러므로 false
# False

True
False
True
False
False
False
True
False
False
False

# **decimal 함수사용하기**

In [106]:
import decimal #모듈을 불러옴
x=decimal.Decimal(3.14)
y=decimal.Decimal(2.74)
x,y

print(x*y) #8.603600000000001010036498883
# Decimal('8.603600000000001010036498883')
decimal.getcontext().prec=4
x*y
# Decimal('8.604')
#

8.603600000000001010036498883

Decimal('8.604')

# ***변수란?***

In [114]:
#
# 변수는 자료(값)을 저장하는 공간이다.
#
a = [1, 2, 3]
print(id(a))  # a 변수가 가리키는 메모리의 주소 140077847401288 
# list
a = [1, 2, 3]
b = a
print(b) # a의 값과 같음.
print(id(a), id(b))  # a의값을 복사했기때문에 주소값도 같음.
print(a is b) # True
a[1] = 4
print(a, b) #b가 a의값을 복사한거기떄문에 a의값을바꾸면 b도 바껴진다.
b = [1, 2, 3] #재정의
print(id(b))
print(a is b) # b의값을 바꾸면 a의값은 안바뀜. 따라서 주소도 바뀜. #false

# 1. [:] 이용
#
a = [1, 2, 3]
b = a[:]
print(b)
a[1] = 4 #a의1인덱스를 4로바꿔줌.
print(a, b) #카피를한게아니라 인덱스로 b를만들었기때문에 a의값을 바꿔도 b는 안바뀜.


a, b = ("python", "life")
a
b
a, b

[a, b] = ["python", "life"]
a
b

a = 3
b = 5
a, b = b, a
a
b

140077847110728
[1, 2, 3]
140077847329992 140077847329992
True
[1, 4, 3] [1, 4, 3]
140077847402120
False
[1, 2, 3]
[1, 4, 3] [1, 2, 3]