<a href="https://colab.research.google.com/github/rlfwo93/Python/blob/master/ch8_exercises_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch8_exercises_Final.ipynb

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [0]:
# [Q1] Code-1 

first="a:b:c:d"
second =first.replace(":","#") # replace함수를 이용하여 한번에  값을 바꿔줌.
second

'a#b#c#d'

In [0]:
# [Q1] Code-2
first="a:b:c:d"
second =first[0]+"#"+first[2]+"#"+first[4]+"#"+first[6]  # 인덱싱으로 일일이 바꿔줌.
second

'a#b#c#d'

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [0]:
# [Q2] Code-1

a = {'A':90, 'B':80}


try: # 예외처리를 이용하여 c를 출력했을대 에러가 발생하면 70을출력하게함.
  print(a['C'])
except:
  print(70)

70

In [0]:
# [Q2] Code-2

a = {'A':90, 'B':80}
aKey=a.keys() #a의 key를 모아서 리스트로 만듬.
inV=input("값을 입력:") #사용자가 원하는 값을 받도록 입력함.
if inV not in aKey: # 입력한 값이 key리스트에 없으면 70을 출력.
    print(70)
else:
  Val=str(inV) # 키 값이 전부 str이므로 형변환.
  print(a[Val]) #출력.

값을 입력:B
80

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

In [0]:
print("""차이가 있습니다.
리스트의 더하기를 하면 주소값이 바뀌지만
extend함수를 이용해서 값을 추가하면 주소값은 바뀌지않는다.""")

차이가 있습니다.
리스트의 더하기를 하면 주소값이 바뀌지만
extend함수를 이용해서 값을 추가하면 주소값은 바뀌지않는다.

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [0]:
# [Q4] Code-1
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result=0
for i in A:
  if i>=50:
      result+=i
print("총합:{0}".format(result))

총합:481

In [0]:
# [Q4] Code-2

A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]


print("총점:{0}".format(sum([n for n in A if n>=50])))

총점:481

In [10]:

# [Q4] Code-2

print(sum(list(filter(lambda x : x >= 50, [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]))))

481

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [0]:
# [Q5] Code-1
def pan(value):
    li=[] #값을 저장시킬 리스트를 생성.

    for i in range(value):
        if i==0 or i ==1: #인덱스 에러 방지. i가2일때부터는 -2를해도 인덱스 에러가 발생안함
            li.append(i)  #리스트에 i값을 넣어줌.
            print(li[i])  
        else:
            li.append(li[i-2]+li[i-1]) #전전의값과 전의 값을 더하고, 리스트에 넣어줌.     
            print(li[i]) 


pan(int(input("값을 입력해라:")))

값을 입력해라:15
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [0]:
# [Q5] Code-2
def fib(n):
    if n == 0 : return 0          # n이 0일 때는 0을 반환
    if n == 1 : return 1          # n이 1일 때는 1을 반환
    return fib(n-2) + fib(n-1)    # n이 2 이상일 때는 그 이전의 두 값을 더하여 반환

for i in range(15):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [9]:

# [Q5] Code-3

# DP 알고리즘의 Memoized 방식 
# Recursion를 사용하지만 불필요한 부분을 제거함
# Time complex is O(n)
# Fn = Fn-1 + Fn-2

def fib_memoized(n, memo):
    if memo[n] is not None:
        return memo[n]
    if n == 1 or n == 2: # 수열의 첫번째와 두번째는 1이다
        return 1
    else :
        result = fib_memoized(n-1, memo) + fib_memoized(n-2, memo) # 결과값을 변수에 담아 기억시킨다
    memo[n] = result
    return result

def fib_memo(n):
    _list = [0]
    memo = [None] * (n + 1)

    for i in range(1,n):
        _list.append(fib_memoized(i, memo))
    return _list

print(fib_memo(100))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026]

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [0]:
# [Q6] Code-1
inV= input("입력하세요 : ")
result=0
li=inV.split(",")

for i in range(len(li)):
    result+=int(li[i])


print("총합:{0}".format(result))

입력하세요 : 65,45,2,3,45,8
총합:168

In [0]:
# [Q6] Code-1
inV= input("입력하세요 : ")
result=0
li=inV.split(",")

for i in range(len(li)):
    li[i]=int(li[i])


print("총합:{0}".format(sum(li)))

입력하세요 : 65,45,2,3,45,8
총합:168

In [13]:
# [Q6] Code-2
a=input("숫자를 입력하세요: ")
b=a.split(",")
sum(map(int,b))

숫자를 입력하세요: 2

2

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [0]:
# [Q7] Code-1
inv= int(input("값을 입력하세요: "))
for i in range(1,10):
    print(i*inv,end=" " )

값을 입력하세요: 9
9 18 27 36 45 54 63 72 81

In [0]:
# [Q7] Code-2

inv= int(input("값을 입력하세요: "))

[i*inv for i in range(1,10)]

값을 입력하세요: 2

[2, 4, 6, 8, 10, 12, 14, 16, 18]

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [0]:
# [Q8] Code-1




f= open("abc.txt",'r')
data=f.readlines()
f.close()


reverse=[]
for i in range((len(data)-1),-1,-1): 
    reverse.append(data[i])

f=open("abc.txt",'w')
for i in reverse:
    f.write(i)
f.close

f= open("abc.txt",'r')
re=f.readlines()
print(re)

['eee\n', 'ddd\n', 'ccc\n', 'bbb\n', 'aaa\n']

In [0]:
# [Q8] Code-2

f = open('abc1.txt', 'r')
lines = f.readlines()    # 모든 라인을 읽음
f.close()

lines.reverse()          # 읽은 라인을 역순으로 정렬

f = open('abc1.txt', 'w')
for line in lines:
    line = line.strip()  # 포함되어 있는 줄 바꿈 문자 제거
    f.write(line)
    f.write('\n')        # 줄 바꿈 문자 삽입
f.close()



f= open("abc1.txt",'r')
data=f.readlines()
print(data)
f.close()

['eee\n', 'ddd\n', 'ccc\n', 'bbb\n', 'aaa\n']

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [0]:
# [Q9] Code-1

f = open("sample.txt")
lines = f.readlines( )  # sample.txt를 줄 단위로 모두 읽는다.
f.close( )

total = 0
for line in lines:
    score = int(line)  # 줄에 적힌 점수를 숫자형으로 변환한다.
    total += score
average = total / len(lines)

f = open("result.txt", "w")
f.write(str(average))

print("총점:{0}".format(total))
print("평균:{0}".format(average))

총점:790
평균:79.0

In [0]:
# [Q9] Code-2

f = open("sample1.txt",'r')
line =[]
for i in range(10):
    line.append(f.readline())  # sample.txt를 줄 단위로 모두 읽는다.
f.close()
  
total = 0
line.reverse()
var=[]
for var in line:
    score = int(var)  # 줄에 적힌 점수를 숫자형으로 변환한다.
    total += score
average = total / len(lines)
print("총점:{0}".format(total))
print("평균:{0}".format(average))

총점:790
평균:79.0

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [0]:
class Calculator:
    def __init__ (self, numberList): 
        self.numberList = numberList

    def add(self): 
        result = 0
        for num in self.numberList: 
            result += num
        return result

    def avg(self):
        total = self.add()
        return total / len(self.numberList)

cal1 = Calculator([1,2,3,4,5]) 
print ("더한값: {0}".format(cal1.add()))
print ("나눈값: {0}".format(cal1.avg()))

cal2 = Calculator([6,7,8,9,10]) 
print ("더한값: {0}".format(cal2.add()))
print ("나눈값: {0}".format(cal2.avg()))

더한값: 15
나눈값: 3.0
더한값: 40
나눈값: 8.0

In [11]:
# [Q10] Code-2

class Calculator2(object):

    def __init__(self, num_list):
        self.num_list = num_list
    
    def add(self):
        return sum(self.num_list)

    def avg(self):
        return sum(self.num_list)/len(self.num_list)

cal1 = Calculator2([1,2,3,4,5]) 
print (cal1.add())
print (cal1.avg())

cal2 = Calculator2([6,7,8,9,10]) 
print (cal2.add())
print (cal2.avg())

15
3.0
40
8.0

In [0]:
class Cal():
    def __init__ (self, numberList): 
        self.numberList = numberList
    def add(self):
        pass
    def avg(self):
        pass


class Calculator(Cal):
    def add(self): 
        result = 0
        for num in self.numberList: 
            result += num
        return result

    def avg(self):
        total = self.add()
        return total / len(self.numberList)


cal1 = Calculator([1,2,3,4,5]) 
print ("더한값: {0}".format(cal1.add()))
print ("나눈값: {0}".format(cal1.avg()))

cal2 = Calculator([6,7,8,9,10]) 
print ("더한값: {0}".format(cal2.add()))
print ("나눈값: {0}".format(cal2.avg()))

더한값: 15
나눈값: 3.0
더한값: 40
나눈값: 8.0



---

# 다음부터는 다음 주 (wk11)에 완성.



---

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [0]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

In [0]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

In [0]:
# [Q11] Code-1
import mymod
mymod.gugu(2)

2
4
6
8
10
12
14
16
18

In [0]:
# [Q11] Code-2
from mymod import gugu
gugu(2)

2
4
6
8
10
12
14
16
18

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [0]:
result = 0
 
try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError: #형이 맞이 않을때 발생하는 에러
    result += 1
except ZeroDivisionError: # 0으로 나눌려고 할때 발생하는 에러
    result += 2
except IndexError: # 인덱스 에러
    result += 3
finally:
    result += 4
 
print(result)

print("------------------------------------------------풀이----------------------------------------------")

print("""try문에서는 에러가 발생하자 말자 except로 넘어간다. 첫문장 [1,2,3][3] 는  인덱스에러가 발생한다. 인덱스 에러가 발생하면 except IndexError 로 이동하고 result에3을더한다
finally는 에러가 발생하든 안하든 무조건 실행되는 구문인데 거기서 +4 를하면 7이라는 값이 출력된다.""")

7
------------------------------------------------풀이----------------------------------------------
try문에서는 에러가 발생하자 말자 except로 넘어간다. 첫문장 [1,2,3][3] 는  인덱스에러가 발생한다. 인덱스 에러가 발생하면 except IndexError 로 이동하고 result에3을더한다
finally는 에러가 발생하든 안하든 무조건 실행되는 구문인데 거기서 +4 를하면 7이라는 값이 출력된다.

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [0]:
def DashInsert(st):
    st1=""
    st1+=st[0]  # 0번째는 짤리므로 미리 대입


    for i in range(1,len(st)): #앞뒤 비교할거니까 1부터시작
         if int(st[i])%2==0 and int(st[i-1])%2==0 : # 비교공식
             st1+="*"
         elif int(st[i])%2!=0 and int(st[i-1])%2!=0 : # 비교공식
             st1+= "-"

         st1 += st[i]
#4546793
    print("출력값:{0}".format(st1))
DashInsert(input("입력하세요:"))

입력하세요:4546793
출력값:454*67-9-3

In [0]:
data = "4546793"
numbers = list(map(int, data))   # 숫자 문자열을 숫자 리스트로 변경
result = []

for i, num in enumerate(numbers):
    result.append(str(num))
    if i < len(numbers)-1:                   # 다음 수가 있다면
        is_odd = num % 2 == 1                # 현재 수가 홀수
        is_next_odd = numbers[i+1] % 2 == 1  # 다음 수가 홀수
        if is_odd and is_next_odd:           # 연속 홀수
            result.append("-")
        elif not is_odd and not is_next_odd: # 연속 짝수
            result.append("*")

print("".join(result))

454*67-9-3

In [12]:

# [Q13] Code-2

from functools import reduce

print(reduce(lambda x, y: x + ["*","","-"][int(x[-1]) % 2 + int(y) % 2] + y, "4546793"))
# ["*","","-"][0] 은 a = ["*","","-"] , a[0]과 같은 코드
# reduce함수는 값을 중첩시킨다.

454*67-9-3

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [0]:
# [Q14] Code-1
def dkfwlq(st):
    # aaabbcccccca
    pan=1 #문자가 같을때 증가하는 변수.
    Du=""
    st+=" " #맨 마지막 문자열을 비교하기위하여 한칸을 늘림.
    Du+=st[0] #짤리기때문에 맨 앞 값을 넣어줌.
    for i in range(1,len(st)):

        if st[i] == st[i-1]:
            pan+=1 # 비교했을때 같으면 +1
        else:
            Du += str(pan) # st는 문자열이기때문에 정수형이랑 사칙연산 못함 정수형을 -> 문자열로 
            Du+=st[i]  # 반복되는 값을 다 압축함.
            pan=1 # 다시 pan값을 1로 돌림

    print("출력값: {0}".format(Du))

dkfwlq(input("입력하세여 :"))

입력하세여 :aaabbcccccca
a3b2c6a1

In [0]:
# [Q14] Code-2

def compress_string(s):
    _c = ""
    cnt = 0
    result = ""
    for c in s:
        if c!=_c:
            _c = c
            if cnt: result += str(cnt)
            result += c
            cnt = 1
        else:
            cnt +=1
    if cnt: result += str(cnt)
    return result

print (compress_string("aaabbcccccca"))  # a3b2c6a1 출력

a3b2c6a1

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [0]:
# [Q15] Code-1

def Duplicate(st):
    li=[]
    if len(st) == 10: #0~9 까지면 길이가 10이기떄문에 먼저 길이가 10인지비교
        for i in range(len(st)):
            li.append(int(st[i]))  # st[i]는 문자열이기때문에  int형으로 형변환을 해준다음 리스트에 넣어줌.
            if li[i]>9: #9보다 큰 값이 들어오면 False
                return False

        if sum(li)==45: # 0~9까지 더하면 45이기때문에 다 더했을때 45인지 비교.
            return True
        else:
            return False

    else:
        return False




print(Duplicate(input("입력하세여:")))
print(Duplicate(input("입력하세여:")))
print(Duplicate(input("입력하세여:")))
print(Duplicate(input("입력하세여:")))
print(Duplicate(input("입력하세여:")))

입력하세여:0123456789
True
입력하세여:01234
False
입력하세여:01234567890
False
입력하세여:6789012345
True
입력하세여:012322456789
False

In [0]:
# [Q15] Code-2
def chkDupNum(s):
    result = []
    for num in s:
        if num not in result:
            result.append(num)
        else:
            return False
    return len(result) == 10

print(chkDupNum("0123456789"))      # True 리턴
print(chkDupNum("01234"))           # False 리턴
print(chkDupNum("01234567890"))     # False 리턴
print(chkDupNum("6789012345"))      # True 리턴
print(chkDupNum("012322456789"))    # False 리턴

True
False
False
True
False

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [0]:
# [Q16] Code-1
def ahtmqngh(st):
    dic = {
        '.-': 'A', '-...': 'B', '-.-.': 'C', '-..': 'D', '.': 'E', '..-.': 'F',
        '--.': 'G', '....': 'H', '..': 'I', '.---': 'J', '-.-': 'K', '.-..': 'L',
        '--': 'M', '-.': 'N', '---': 'O', '.--.': 'P', '--.-': 'Q', '.-.': 'R',
        '...': 'S', '-': 'T', '..-': 'U', '...-': 'V', '.--': 'W', '-..-': 'X',
        '-.--': 'Y', '--..': 'Z'}
    result="" 
    li="" #스플릿해서 값을 넣어줄 변수.
    li=(st.split(" ")) # 공백을 기준으로 값을 넣어줌.

    for i in range(len(li)):
        if li[i]=="": #공백이 두개가있을때는 뛰어쓰기이고, 공백이두개가 연속으로나오면 여백으로 값이들어감.
            result+=" " # 공백 추가 
        else:
            result += dic[li[i]] #딕셔너리에서 벨류값을 가지고와서 더해줌.

    print("결과값:{0}".format(result))

ahtmqngh(input("입력해봐라:"))

입력해봐라:.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
결과값:HE SLEEPS EARLY

In [0]:
# [Q16] Code-2

dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
}

def morse(src):
    result = []
    for word in src.split("  "):
        for char in word.split(" "):
            result.append(dic[char])
        result.append(" ")
    return "".join(result)


print(morse('.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'))

HE SLEEPS EARLY

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [0]:
# [Q17] Code

print("B이다")


import re

p = re.compile("a[.]{3,}b")

print (p.match("acccb"))    # None
print (p.match("a....b"))   # 매치 객체 출력
print (p.match("aaab"))     # None
print (p.match("a.cccb"))   # None

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [0]:
# [Q18] Code
import re

p = re.compile('[a-z]+')
m = p.search("5 python")
print(m.start() + m.end())  # 10 출력

10

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [0]:
# [Q19] Code
def numberChange(number):    
    li=""
    li=number.split("-")
    li[2]="****"
    result="-".join(li)
    return result
print("결과값:{0}".format(numberChange(input("번호좀줘바라:"))))
print("결과값:{0}".format(numberChange(input("번호좀줘바라:"))))
print("결과값:{0}".format(numberChange(input("번호좀줘바라:"))))

번호좀줘바라:010-9999-9988
결과값:010-9999-****
번호좀줘바라:010-9909-7789
결과값:010-9909-****
번호좀줘바라:010-8789-7768
결과값:010-8789-****

In [0]:
import re

s = """
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
"""

pat = re.compile("(\d{3}[-]\d{4})[-]\d{4}")
result = pat.sub("\g<1>-####", s)

print(result)

park 010-9999-####
kim 010-9909-####
lee 010-8789-####

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [0]:
# [Q20] Code
def email(mail):
    result=""
    result=mail.split(".")
    for i in result:
        if i =="com" or i =="net":
            return "Match"
    return None




# park@naver.com,kim@daum.net,lee@myhome.co.kr

print("결과값:{0}".format(email(input("이메일적어라:"))))
print("결과값:{0}".format(email(input("이메일적어라:"))))
print("결과값:{0}".format(email(input("이메일적어라:"))))

이메일적어라:park@naver.com
결과값:Match
이메일적어라:kim@daum.net
결과값:Match
이메일적어라:lee@myhome.co.kr
결과값:None

In [0]:
import re

pat = re.compile(".*[@].*[.](?=com$|net$).*$")

print(pat.match("pahkey@gmail.com"))
print(pat.match("kim@daum.net"))
print(pat.match("lee@myhome.co.kr"))

<_sre.SRE_Match object; span=(0, 16), match='pahkey@gmail.com'>
<_sre.SRE_Match object; span=(0, 12), match='kim@daum.net'>
None

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb