<a href="https://colab.research.google.com/github/rlfwo93/Python/blob/master/sm101_exam_mid%EC%9D%98_%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 중간필기시험: 고급시뮬레이션 (2019.10.25)
- 문제에 배점이 표시되어 있음. (기본 배점은 1, 총 32점)

***

### # [1] 다음 식의 연산 결과는?

```
a = 3
b = 4
a**b  
```

In [0]:
3**4 #**연산자는 a의b승 이라는 뜻이다.

81

### # [2-3] 다음 문자열 a 에 대하여 인덱싱과 슬라이싱을 한 결괴는? 


```
a = "Life is too short, You need Python!"

print(a[-16])   # 문제[2]

# 

a[23:-8]       # 문제[3] 

```

In [0]:
a = "Life is too short, You need Python!"
print(a[-16])   # 문제[2] :y
# -로 시작하면 맨마지막 부터 나온다.
a[23:-8]       # 문제[3] :'need' 0부터 23까지 증가해서, 23부터 -8까지 잘라준다.
# n부터 " "공백까지이므로  need출력

Y

'need'



---

### # [4] 다음의 결과가 출력되지 않는 것은?

'I ate 10 apples. so I was sick for three days.'


```
# code start
number = 10
day = "three"

A. "I ate {0} apples. so I was sick for {1} days.".format(10, day)
B. f"I ate {number} apples. so I was sick for {day} days."
C. f"I ate {number} apples. so I was sick for {'three'} days."
D. "I ate {0} apples. so I was sick for {1} days.".format(number=10, day)

```



---

In [0]:
# code start
number = 10
day = "three"
 
A="I ate {0} apples. so I was sick for {1} days.".format(10, day)
B= f"I ate {number} apples. so I was sick for {day} days."
C= f"I ate {number} apples. so I was sick for {'three'} days."

In [0]:
D= "I ate {0} apples. so I was sick for {1} days.".format(number=10, day) 
# answer:D
# format함수는 변수에 바로 값을 대입 할수 없다.

SyntaxError: ignored

### # [5] format 함수 또는 f 문자열 포매팅을 이용해서 '!!python!!' 문자열을 출력해보시오.

```



```

In [0]:
'{0:!^10}'.format("python")
#포맷팅 방법은 3가지 방법이있다.
#1. %포맷팅   ex> (10%d)%5
#  f 포맷팅   ex)f'{"python":!^101}'
#format함수 포맷팅  ex){0:!^10}'.format("python")

'!!python!!'



---

### # [6] 다음 list a의 인덱싱 결과는?

```
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]


a[3][-1][-1]

```



---

In [0]:
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]
 
 
a[3][-1][-1]

#3번째 인덱스는  ['a', 'b', ['My', 'Life', 'Good']] 그안에서 -1은 ['My', 'Life', 'Good'] 안에서 -1은 'Good'

'Good'

### # [7] 다음 list x의 슬라이싱 결과는?


```
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

x[-6:1:-1]

```

In [0]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 
x[-6:1:-1]
# -6은 5이므로 5부터 1까지 -1일씩 증가해서 인덱싱.

[5, 4, 3]



---

### # [8] 다음 tuple t1의 슬라이싱 결과는?



```
t1 = (0, 2, "s", "t", "u")

t1[3:-1]

```

In [0]:
t1 = (0, 2, "s", "t", "u")
 
t1[3:-1]
#튜플은 입력값이 하나이면 뒤에','을 넣어줌.
#튜플은 출력값이 하나이면 뒤에','도 출력됨.

('t',)



---

### # [9] 다음 set s1의 최종 출력 결과는?

```
s1 = set([2, 3])
s1.update([2, 4, 6])

s1.add(4)

s1  # 출력 결과?
```

In [0]:
s1 = set([2, 3])
s1.update([2, 4, 6])
 
s1.add(4)
 
s1  # 출력 결과?

#set은 값이 중복되지않음
#udate함수는 set에 여러개의 값을 집어넣을떄 사용하는 함수
#add(4)를하면 4가추가됨 4는 이미 있으므로 중복된 4를 제거
#{2, 3, 4, 6}

{2, 3, 4, 6}



---

ㄱ### # [10] 다음 bool 값 출력 중 정확한 것은?

bool([0, 1, 2, 3]), bool([0]), bool((0)), bool((0,))


```
'''
A. (True, True, True, True)
B. (False, False, False, False)
C. (True, True, False, True)
D. (True, False, False, True)
'''

```

In [0]:
print(bool([0, 1, 2, 3]), bool([0]), bool((0)), bool((0,)))
#답은 C(True True False True)이다.
#문자열은 ""이면 FALSE
#정수형은 0 이면 FALSE
#배열은 []이면 FALSE
#튜플은 ()FALSE

True True False True



---

### # [11-2점] 다음 조건문을 1줄 코드로 변경하시오.  

```
score=80

if score >= 60:
    message = "success"
else:
    message = "failure"

print(message)

```

> 출력 결과 :  success

In [0]:
# [11-2점] 1줄 조건문

score=80

message ="Success" if score>=60 else "failure" #맨앞이 조건부 if else 순이다.

print(message) #'Success'

Success



---

### # [12-2점] 다음 커피자판기가 실행 결과와 같이 제대로 실행되도록 A, B 에 코드를 완성하시오. 
> coffee.py

```

coffee = 5

while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % A._____________)
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if : coffee == 0
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        B._______________
```
> 실행 결과 :  
```
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

```

In [0]:
coffee = 5

while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." %(money-300)) #3가지의 포맷중 하나인 %포맷을 쓴다.
                                                                # ()를 안쓰면 제대로 인식이 안되기 때문에 ()를쓴다.,
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0: #break조건문.
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break #while문을 탈출시켜주는 제어문.

돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.



---

### # [13-2점] 다음 for-loop의 출력 결과는?

```

games = ["축구", "야구", "농구"]


# 
for cnt in range(len(games)):
    print(cnt, games[cnt], end=',')
    
    
    
```

> 출력 결과 ?

In [0]:
 
games = ["축구", "야구", "농구"]
 
 
 
for cnt in range(len(games)): #range함수와 len 함수사용. 0부터 len(games)길이 까지 증가.
    print(cnt, games[cnt], end=',')   #cnt의 값을 출력하고 games배열 값을 하나씩 출력시킴. 
                                      #end="," 가 있으므로 출력하는 값 마지막에 ","을 출력시킴.
# 0 축구,1 야구,2 농구,

0 축구,1 야구,2 농구,

### # [14-2점] 다음 dictionary와 관련된 함수로 평균 점수를 계산하는 코드를 완성하시오.

```



scores={"국어":80, "영어":75, "수학":55}


print("평균점수는{0}점입니다".format(sum([14]_____________________)/len(scores)))



    
```

In [0]:
scores={"국어":80, "영어":75, "수학":55}
 
 
print("평균점수는{0}점입니다".format(sum(scores.values())/len(scores))) 
#scores.values()로 딕셔너리의 벨류값만 모아서 리스트로 만들어줌.
#sum으로 리스트안에 있는 벨류값을 다 더함.
#len으로 scores의 갯수를 구하고 나눔.

평균점수는70.0점입니다



---



---

### # [15-2점] a 리스트에서 중복 숫자를 제거해서 출력하는 다음 코드를 완성하시오.



```

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]


a = A.________________


a = B.________________


print(a)


```

  
> 출력 결과 : [1, 2, 3, 4, 5]

In [0]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
 
 
a = set(a)
# set으로 형변환해서 a의 중복값을 제거함.
 
a = list(a)
 #set형식을 다시 list로 형변환.
 
print(a)

[1, 2, 3, 4, 5]

### # [16-최대 3점] for문 사용해 1부터 1000까지의 자연수 중 5의 배수의 합을 구하는 전체 코드를 작성하시오.

> 결과(5의 배수의 합)까지 출력하는 코드는 4줄 이하로 작성하시오.
>> 최소한의 줄로 만든 코드에 최대 점수 3점.
- 1줄: 3점
- 2줄: 2점
- 3줄 이상: 1점  

>> list 내포를 이용하시오.

```
_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________


```

In [0]:
sum([num for num in range(1,1001) if num%5==0])
# 리스트내포를 사용 range함수로 범위를 지정. 1000은 제외되기때문에 1001을 넣어줌.
#for로 1부터 1001까지 계속 값을 증가시키면서 if로 5의 배수일때만 num을 배열에 넣어줌.
#sum함수를 사용하여 배열의 값을 다 더해줌.

100500



---



---

### # [17-최대 3점] 다음 자료에 대한 평균 성적을 구하시오.
```
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
```

> 결과는 다음과 같이 출력되는 최단 코드를 완성하시오.
```
python 88
english 77
math 66
science 95
평균 점수 = 81.5
```

>> zip() 함수를 이용하시오.

```
# 평균 성적을 구하시오.
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]

total = 0

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________


```

In [0]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0
for su,sc in zip(subjects,scores): #zip으로 subjects와 scores 리스트를 묶어줌.
                                   # 묶어준 값을 su,sc변수에 각각 담아줌.
  total+=sc #total에다가 점수를 다 더해줌.
  print("{0}과목은 {1}점입니다.".format(su,sc)) # 과목과 점수를 각각 출력.
"평균은{0}점입니다.".format(total/len(scores))  # len으로 scores의 갯수를 구한다음 total을 나눠줌.

python과목은 88점입니다.
english과목은 77점입니다.
math과목은 66점입니다.
science과목은 95점입니다.

'평균은81.5점입니다.'



---

### # [18-3점] 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수 만들기


- 단 입력으로 들어오는 수의 개수는 정해져 있지 않다. (*args 매개변수 이용)
- 평균 값을 구할 때 len 함수를 사용해 보자.
    - 함수명: addMany()
    - 함수 사용: 
        - addMany(1,2)
        - addMany(1,2,3,4,5)
        

```

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________



```

In [0]:
def addMany(*args): #def로 이용해 함수를 만듬
                    #*args는 인자값이 몇개 들어올지 모를때
                    #**args는 딕셔너리 값으로 받음.
                    #*args는 튜플형식임.
  return sum(args)/len(args) #sum으로 다더해준다음 len으로 갯수를구하여 나눠줌.

print(addMany(1,2))
print(addMany(1,2,3,4,5))

1.5
3.0



---

### # [19-3점] MaxLimitCalculator 클래스를 만들기
#### 메소드 재정의(overriding)
> 객체변수 value가 100 이상의 값은 가질 수 없도록 제한. 
>> 즉 다음과 같이 동작해야 한다.
```
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력
```
>> 단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.

```

class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val
        

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________


```

In [0]:
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val


class MaxLimitCalculator(Calculator): #클래스 상속받을때에는 만들클래스()안에 상속받을 클래스를 넣어줌.
  def add(self,val):    #Calculator를 상속받았기떄문에 Calculator안에 있는 add함수를 오버라이딩 할수있음.
    self.value+=val     #값을 계속받음.
    if self.value>100:  # 값을 계속받고 더하면서 100을 초고하면 self.value값을 100으로 고정시켜줌.
       self.value=100   #self.value값을 100으로 고정시켜줌.
    



cal = MaxLimitCalculator() #객체를 만들어줌.
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력

100



---

## 정답을 설명하는 파이썬 노트를 완성해서 각자의 github에 올리시오.
- 제출기한: 11월 1일(금) 오전 10시.

### 업로드 파일명: smnn_exam_mid.ipynb  (smnn은 id)