<a href="https://colab.research.google.com/github/rlfwo93/Python/blob/master/sm101%20ch2_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

20151534 sm101박진석


# ***Q1.***
# ***홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.***

# ***과목 점수***
# ***국어 80***
# ***영어 75***
# ***수학 55***

In [86]:
print("첫번째 방법")


average=(80+75+55)//3
print("평균점수는{0}점입니다".format(average))

첫번째 방법
평균점수는70점입니다

In [85]:
print("두번째 방법")
li=[80,75,55]
print("평균점수는{0}점입니다".format(sum(li)//3))

두번째 방법
평균점수는70점입니다

# ***Q2.***
# ***자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.***
# **판별 기준**
# ***코드***

In [19]:
print("첫번째 방법")
if 13%2==0:
    print("13은짝수")
else:
    print("13은홀수")

Q2.First
13은홀수

In [18]:
print("두번째 방법")
if 13%3==0:
    print("13은짝수")
else:
    print("13은홀수")

Q2.Second
13은홀수

# ***Q3***
# ***홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.***

In [20]:
print("첫번째 방법")

Number="881120-1068234"
li=Number.split("-")
print(li[0])
print(li[1])

Q3.First
881120
1068234

In [21]:
print("두번째 방법")
Number="881120-1068234"
print(Number[0:6])
print(Number[7:])

Q3.Second
881120
1068234

# ***Q4.***
# ***주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.***

# ***pin = "881120-1068234"***
# ***※ 문자열 인덱싱 또는 내장함수를 사용해 보자.***
# ***문자열포맷팅을 이용해서 성별을 출력하시오.***

In [24]:
print("첫번째 방법")
pin = "881120-1068234"

if pin[7:8]=="1":
  print("{0}이므로 남자입니다".format(pin[7:8]))
else:
   print("{0}이므로 여자입니다".format(pin[7:8]))

첫번째 방법
1이므로 남자입니다

In [45]:
print("두번째 방법")
pin = "881120-1068234"
li=pin.split("-")
if li[1][0:1]=="1":
  print("{0}이므로 남자입니다".format(li[1][0:1]))
else:
   print("{0}이므로 여자입니다".format(li[1][0:1]))

두번째 방법
1이므로 남자입니다

# ***Q.5***
# ***다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.***

# ***a = "a:b:c:d"***

In [87]:
print("첫번째 방법")
a="a:b:c:d"
print(a.replace(":","#"))

첫번째 방법
a#b#c#d

In [88]:
print("두번째 방법")
print(a[0:1]+"#"+a[2:3]+"#"+a[4:5]+"#"+a[-1:])

두번째 방법
a#b#c#d

# ***Q6.***
# ***[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.***

# ***※ 리스트의 내장 함수를 사용해 보자***

In [89]:
print("첫번째 방법")
a=[1,3,5,4,2]
a.sort(reverse=True)
print(a)

첫번째 방법
[5, 4, 3, 2, 1]

In [90]:
print("두번째 방법")
a=[1,3,5,4,2]
a.sort()
li=[]
for i in range(len(a)):
  li.append(a[len(a)-1-i])
print(li)

두번째 방법
[5, 4, 3, 2, 1]

# ***Q7.***
# ***['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.***
# ***※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.***

In [91]:
print("첫번째 방법")
str1=['Life', 'is', 'too', 'short']
str1=" ".join(str1)
print(str1)

첫번째 방법
Life is too short

In [92]:
print("두번째 방법")
str1=['Life', 'is', 'too', 'short']
str2=""
for i in range(len(str1)):
  str2+=str1[i]
  str2+=" "
print(str2)

두번째 방법
Life is too short

# ***Q8.***
# ***(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.***

## ※ 더하기(+) 또는 다른 방법들을 사용해 보자.

In [93]:
print("첫번째 방법")
t1=(1,2,3)
t1+=(4,)
print(t1)

첫번째 방법
(1, 2, 3, 4)

In [94]:
print("두번째 방법")
t1=(1,2,3)
li=list(t1)
li.append(4)
t1=tuple(li)
print(t1)

두번째 방법
(1, 2, 3, 4)

# ***Q9.***
# ***다음과 같은 딕셔너리 a가 있다.***
# ***a = dict()***
# ***a***
# {}

# ***다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.***
# ***1.a['name'] = 'python'***
# ***2.a[('a',)] = 'python'***
# ***3.a[[1]] = 'python'***
# ***4.a[250] = 'python'***

In [84]:


print("딕셔너리의 키값은 변하지 않는 값만 쓸수있는데  배열은 가변형 이므로. 키값에 배열을 쓸 경우 오류가 발생한다.. 따라서 키값에 배열을 쓴 3번이 답이다.")

딕셔너리의 키값은 변하지 않는 값만 쓸수있는데  배열은 가변형 이므로. 키값에 배열을 쓸 경우 오류가 발생한다.. 따라서 키값에 배열을 쓴 3번이 답이다.

# ***Q10.***
# ***딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.***

# ***a = {'A':90, 'B':80, 'C':70}***

# ***※ 딕셔너리의 pop 함수를 사용해 보자.***

In [71]:
print("첫번째 방법")
a = {'A':90, 'B':80, 'C':70}
a.pop('B')
print(a)

첫번째 방법
{'A': 90, 'C': 70}

In [70]:
print("두번째 방법")
a = {'A':90, 'B':80, 'C':70}
print(a['B'])
del a['B']
print(a)

두번째 방법
80
{'A': 90, 'C': 70}

# ***Q11.***
# ***a 리스트에서 중복 숫자를 제거해 보자.***

# ***a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]***

# ***※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.***

In [77]:
print("첫번째 방법")
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a=set(a)
a=list(a)
print(a)

첫번째 방법
[1, 2, 3, 4, 5]

In [81]:
print("두번째 방법")
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a.remove(1)
a.remove(1)
a.remove(2)
a.remove(3)
a.remove(3)
a.remove(4)
print(a)

두번째 방법
[1, 2, 3, 4, 5]

# ***Q12.***
# ***파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.***

# ***a = b = [1, 2, 3]***
# ***a[1] = 4***
# ***print(b)***

In [83]:
a = b = [1, 2, 3]
a[1] = 4
print("{0}이 출력된다. a와b모두 동일한 리스트인[1,2,3]을 가르키고 있기때문.".format(b))

[1, 4, 3]이 출력된다. a와b모두 동일한 리스트인[1,2,3]을 가르키고 있기때문.

20151534 sm101박진석