<a href="https://colab.research.google.com/github/rlfwo93/Python/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# numpy

numpy의 개념과 numpy가 필요한 이유, numpy를 이용하여 벡터와 matrix 즉, 행렬을 만들고 이를 상호변환 시킬 수 있는 API를 사용하는 방법에 대해 알아본다.

numpy의 개념, 그리고 numpy를 사용하는 이유¶
numpy

numpy는 머신러닝 코드 개발을 할 경우 자주 사용되는 벡터, 행렬 등을 표현하고 연산할 때 반드시 필요한 라이브러리다.
벡터와 행렬을 이용하면 수치계산이 매우 빨리 수행된다.
numpy array vs. list

머신러닝에서 숫자, 사람, 동물 등의 인식을 하기 위해서는 이미지 데이터를 행렬(matrix)로 변환하는 것이 중요하다.
## 행렬을 나타내기 위해서는 list를 사용할 수도 있지만, 행렬 연산이 직관적이지 않고 오류 가능성이 높기 때문에 행렬 연산을 위해서는 numpy 사용이 필수적이다.

# import로 모듈을 불러오고 as로 모듈의 이름을 지정

In [2]:
import numpy as np

# 모듈 지정하기 사용

In [12]:
a = np.array(range(1,5)).reshape(2,2)
# np모듈을 사용하여 1~5까지 숫자를 reshape를 이용하여 2행2열로 만든다는 것 
print(a)

[[1 2]
 [3 4]]

In [4]:
a.shape # 배열a의 형식을 보여줌

(2, 2)

In [16]:
ar2 = np.array(range(1,7)).reshape(2,3)
ar2
# 1~6까지의 숫자를 2행 3열로 만든다는것

array([[1, 2, 3],
       [4, 5, 6]])

# 리스트와 행렬 차이

In [50]:
a = [1,2]
b = [3,4]
a+b 

#리스트는 연산을 하는것이 아니라 a,b의 리스트를 합쳐줌

[1, 2, 3, 4]

In [51]:
a= np.array([1,2])
b= np.array([3,4])
a+b
#행렬은 a,b에 있는 값들을 연산시켜줌

array([4, 6])

# concatenate 함수사용 
concatenate 함수는 배열을 합쳐준다.

axis는 기준이다

axis = 0: Y축 (세로 방향) 으로 설정합니다.

axis = 1: X축 (가로 방향) 으로 설정합니다.

In [17]:
a1=np.concatenate((a,ar2),axis=1)

a1

#가로방향으로 합치려면 행의 갯수가 같아야함

array([[1, 2, 1, 2, 3],
       [3, 4, 4, 5, 6]])

In [18]:
a2=np.concatenate((a,ar2),axis=0)

a2

#세로방향으로 합치려면 열의 갯수가 같아야함.

ValueError: ignored

In [21]:
np.concatenate((a,a),axis=0) 
#axis=0은 세로

array([[1, 2],
       [3, 4],
       [1, 2],
       [3, 4]])

In [22]:
np.concatenate((a,a),axis=1)
#axis=1은 가로

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

# BroadCasting

 일정조건을 부합하는 다른 형태의 배열끼리 연산을 수행하는 것.

1.맴버가 하나인 배열은 어떤 배열이나 브로드캐스팅이가능

2.하나의 배열의 차원이 1인 경우 브로드캐스팅가능

3.차원의 짝이 맞을 떄 브로드캐스팅가능

In [24]:
a = np.array([1.0, 2.0, 3.0])
b = np.array([2.0, 2.0, 2.0])
a+b

array([3., 4., 5.])

In [26]:
a = np.array([1.0, 2.0, 3.0])
b = 2.0
a+b

array([3., 4., 5.])

In [31]:
 a= np.array([[1],
             [2],
             [3],
             [4]])
 b=2
 a+b

array([[3],
       [4],
       [5],
       [6]])

In [34]:
 a= np.array([[1],
             [2],
             [3],
             [4]])
 
 b = [1,2,3,4]

 a+b

array([[2, 3, 4, 5],
       [3, 4, 5, 6],
       [4, 5, 6, 7],
       [5, 6, 7, 8]])

In [35]:
a= np.array([[1],
             [2],
             [3],
             [4]])
 
b= np.array([[1],
             [2],
             [3],
             [4]])

a+b

array([[2],
       [4],
       [6],
       [8]])

# 2차원 브로드캐스팅

In [36]:
a = np.array([[ 0.0,  0.0,  0.0],
              [10.0, 10.0, 10.0],
              [20.0, 20.0, 20.0],
              [30.0, 30.0, 30.0]])

b = np.array([1.0, 2.0, 3.0])

a + b

array([[ 1.,  2.,  3.],
       [11., 12., 13.],
       [21., 22., 23.],
       [31., 32., 33.]])

In [39]:
a = np.array([[ 0.0,  0.0,  0.0],
              [10.0, 10.0, 10.0],
              [20.0, 20.0, 20.0],
              [30.0, 30.0, 30.0]])
b=[[1]]
a+b

array([[ 1.,  1.,  1.],
       [11., 11., 11.],
       [21., 21., 21.],
       [31., 31., 31.]])

# newaxis사용
newaxis = 행렬로 차원 확장에 사용됨

행 부분에 np.newaxis를 입력시, 차원을 한 단계 추가합니다.

열 부분에 np.newaxis를 입력시, 차원을 분해한 후 한 단계 추가합니다.

In [42]:
a = np.array([1,2,3,4])
arr = a[np.newaxis,:]
#행부분에 np.newaxis 차원을 한 단계 추가

arr

array([[1, 2, 3, 4]])

In [44]:
a = np.array([1,2,3,4])
arr = a[:,np.newaxis]
#열부분에 np.newaxis 차원을 분해한 후  한 단계 추가

arr

array([[1],
       [2],
       [3],
       [4]])

In [49]:
a = np.array([1,2,3,4])
arr = a[:,np.newaxis]

#[[1],
#[2],
#[3],
#[4]])

b = 3

arr+b

array([[4],
       [5],
       [6],
       [7]])