<a href="https://colab.research.google.com/github/rlfwo93/Python/blob/master/Untitled48.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **모듈 불러오기**

In [62]:
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
tf.__version__

'2.3.0'

# **엑셀 불러오기**

In [12]:
brain = pd.read_excel("duih_dfa.xlsx")

In [13]:
print(brain)

        Group       Fp1        F7  ...        C4        P4        O2
0      NonCZP  0.453575  0.564042  ...  0.750381  0.513921  0.388215
1      NonCZP  0.468788  0.464526  ...  1.365283  0.246469  0.480016
2      NonCZP  0.761824  0.713902  ...  1.070519  0.763317  0.728678
3      NonCZP  0.320513  1.041483  ...  0.869266  0.306688  0.469720
4      NonCZP  0.550035  0.642381  ...  0.830093  0.627568  0.961302
...       ...       ...       ...  ...       ...       ...       ...
31075     CZP  0.852304  0.765143  ...  0.199074  0.866088  0.537417
31076     CZP  0.788118  0.677485  ...  1.003391  0.642248  0.504024
31077     CZP  0.890973  0.538311  ...  0.865412  0.660497  0.955419
31078     CZP  1.279263  1.172636  ...  1.302551  1.473136  1.106737
31079     CZP  0.474424  0.668689  ...  0.504502  1.129228  0.543831

[31080 rows x 19 columns]

# **손실값 파악**

In [14]:
brain.isnull().sum()

Group     0
Fp1       7
F7       33
T3       55
T5       55
F3       32
C3       26
P3       32
O1       37
Fz       20
Pz       27
Fp2      28
F8       43
T4       13
T6       25
F4       37
C4       41
P4       21
O2       38
dtype: int64

# **결측값을 평균값으로 대체**

In [22]:
brainre=brain.fillna(0.717008)
brainre

        Group       Fp1        F7  ...        C4        P4        O2
0      NonCZP  0.453575  0.564042  ...  0.750381  0.513921  0.388215
1      NonCZP  0.468788  0.464526  ...  1.365283  0.246469  0.480016
2      NonCZP  0.761824  0.713902  ...  1.070519  0.763317  0.728678
3      NonCZP  0.320513  1.041483  ...  0.869266  0.306688  0.469720
4      NonCZP  0.550035  0.642381  ...  0.830093  0.627568  0.961302
...       ...       ...       ...  ...       ...       ...       ...
31075     CZP  0.852304  0.765143  ...  0.199074  0.866088  0.537417
31076     CZP  0.788118  0.677485  ...  1.003391  0.642248  0.504024
31077     CZP  0.890973  0.538311  ...  0.865412  0.660497  0.955419
31078     CZP  1.279263  1.172636  ...  1.302551  1.473136  1.106737
31079     CZP  0.474424  0.668689  ...  0.504502  1.129228  0.543831

[31080 rows x 19 columns]

# **결측값을 제거한 것과 안한것 시각적 비교**

In [23]:
#원래의 값
brain.isnull().sum()

Group     0
Fp1       7
F7       33
T3       55
T5       55
F3       32
C3       26
P3       32
O1       37
Fz       20
Pz       27
Fp2      28
F8       43
T4       13
T6       25
F4       37
C4       41
P4       21
O2       38
dtype: int64

In [24]:
#손실값을 평균값으로 대체
brainre.isnull().sum()

Group    0
Fp1      0
F7       0
T3       0
T5       0
F3       0
C3       0
P3       0
O1       0
Fz       0
Pz       0
Fp2      0
F8       0
T4       0
T6       0
F4       0
C4       0
P4       0
O2       0
dtype: int64

# **데이터 준비**

In [97]:
data = brainre.iloc[0:,1:]
data

            Fp1        F7        T3  ...        C4        P4        O2
0      0.453575  0.564042  0.556784  ...  0.750381  0.513921  0.388215
1      0.468788  0.464526  0.556084  ...  1.365283  0.246469  0.480016
2      0.761824  0.713902  0.551635  ...  1.070519  0.763317  0.728678
3      0.320513  1.041483  0.562281  ...  0.869266  0.306688  0.469720
4      0.550035  0.642381  1.062290  ...  0.830093  0.627568  0.961302
...         ...       ...       ...  ...       ...       ...       ...
31075  0.852304  0.765143  0.681175  ...  0.199074  0.866088  0.537417
31076  0.788118  0.677485  0.627501  ...  1.003391  0.642248  0.504024
31077  0.890973  0.538311  0.547298  ...  0.865412  0.660497  0.955419
31078  1.279263  1.172636  0.697928  ...  1.302551  1.473136  1.106737
31079  0.474424  0.668689  0.917154  ...  0.504502  1.129228  0.543831

[31080 rows x 18 columns]

In [96]:
print("data.shape = {0}".format(data.shape))

data.shape = (31080, 18)

In [95]:
target = brainre.iloc[0:,0:1]

        Group
0      NonCZP
1      NonCZP
2      NonCZP
3      NonCZP
4      NonCZP
...       ...
31075     CZP
31076     CZP
31077     CZP
31078     CZP
31079     CZP

[31080 rows x 1 columns]

In [98]:
print("target.shape = {0}".format(target.shape))

target.shape = (31080, 1)

In [161]:
x_train,y_train,x_test, y_test = train_test_split(data, target, test_size=0.25, random_state=20161508)

In [162]:
print("x_train.shape = {0}".format(x_train.shape))
print("x_test.shape = {0}".format(x_test.shape))
print("y_train.shape = {0}".format(y_train.shape))
print("y_test.shape = {0}".format(y_test.shape))

x_train.shape = (23310, 18)
x_test.shape = (23310, 1)
y_train.shape = (7770, 18)
y_test.shape = (7770, 1)

In [175]:
x_test = x_test.replace("NonCZP",0)
x_test = x_test.replace("CZP",1)

x_test

       Group
7294       0
30524      1
2793       0
12964      0
15627      0
...      ...
17590      0
2017       0
7291       0
8682       0
28549      1

[23310 rows x 1 columns]

In [184]:
y_test = y_test.replace("NonCZP",0)
y_test = y_test.replace("CZP",1)

y_test

       Group
15718      0
14858      0
20449      1
13595      0
9239       0
...      ...
22790      1
20910      1
19151      1
10701      0
30507      1

[7770 rows x 1 columns]

# **KNeighborsClassifier**

In [188]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train, x_test)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [189]:
knn.score(y_train,y_test)

0.5517374517374517

In [182]:
result = knn.predict(x_train)

result

array([0, 1, 0, ..., 0, 0, 1])