<a href="https://colab.research.google.com/github/rlfwo93/Python/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import로 모듈을 불러오고 as로 모듈의 이름을 지정

In [9]:
import numpy as np

# 모듈 지정하기 사용

In [17]:
a = np.array(range(1,5)).reshape(2,2)
# np모듈을 사용하여 1~5까지 숫자를 reshape를 이용하여 2행2열로 만든다는 것 
print(a)

[[1 2]
 [3 4]]

In [16]:
a.shape # 배열a의 형식을 보여줌

(2, 2)

In [18]:
ar2 = np.array(range(1,7)).reshape(2,3)
ar2
# 1~6까지의 숫자를 2행 3열로 만든다는것

array([[1, 2, 3],
       [4, 5, 6]])

# concatenate 함수사용 
concatenate 함수는 배열을 합쳐준다.

axis는 기준이다

axis = 0: Y축 (세로 방향) 으로 설정합니다.

axis = 1: X축 (가로 방향) 으로 설정합니다.

In [21]:
a1=np.concatenate((a,ar2),axis=0)
#합치려는 배열의 행과열이 같지않기때문에 오류발생

ValueError: ignored

In [22]:
np.concatenate((a,a),axis=0)

array([[1, 2],
       [3, 4],
       [1, 2],
       [3, 4]])