<a href="https://colab.research.google.com/github/rlfwo93/Python/blob/master/ch3/ch3_total.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***if문은 어떻게 사용?***

In [2]:
money = True
if money:
    print("택시를 타고 가라")
else:
    print("걸어 가라")
    
#택시를 타고 가라 출력

택시를 타고 가라

# ***if문 기본구조***

'''
if 조건문:
    수행할 문장1
    수행할 문장2
    ...
else:
    수행할 문장A
    수행할 문장B
    ...
'''

# ***들여 쓰기 ex)1***

In [4]:
money = True
if money:
    print("택시를")
#print("타고")  오류발생
    print("가라")
  
  
#  "타고"부분에서 들여쓰기 오류가 발생한다.

택시를
가라

# ***들여 쓰기 ex)2***

In [6]:
money = True
if money:
    print("택시를")
    print("타고")
   #     print("가라") 부분에서 오류가 발생함.
  
# "가라" 부분에서 들여쓰기 오류가 발생한다.
# 조건문 다음에 콜론(:)을 잊지 말자!

택시를
타고

# ***파이썬의 비교연산자***

In [8]:
print("조건식: 비교연산자")
# 비교연산자(<, >, ==, !=, >=, <=)를 쓰는 방법
x=3
y=2
x>y

print(x<y) #fasle
print(x==y) #false
print(x!=y) # True

조건식: 비교연산자
False
False
True

# ***조건식 만들기***

In [9]:
money = 2000
if money >= 3000: # moeny가 3000원보다 크거나 같으면
    print("택시를 타고 가라")
else:
    print("걸어가라")
  
 # 걸어가라 출력됨.

걸어가라

# ***복합 조건식***

In [10]:
#복합 조건식: or, and, not
# 연산자	설명
# x or y  :	x와 y 둘중에 하나만 참이면 참이다
# x and y :	x와 y 모두 참이어야 참이다
# not x	  : x가 거짓이면 참이다


oney = 2000
card = True
if money >= 3000 or card:  # "돈이 3000원 이상 있거나 카드가 있다면 택시를 타고 그렇지 않으면 걸어 가라."
    print("택시를 타고 가라")
else:
    print("걸어가라")
    
    
# 택시를 타고 가라  출력됨.

택시를 타고 가라

# ***조건식 : in , not in***

In [12]:
#   in	          not in
# x in 리스트	x not in 리스트
# x in 튜플	    x not in 튜플
# x in 문자열	x not in 문자열


print(1 in [1, 2, 3])  #TRUE 출력
print(1 not in [1, 2, 3]) #False 출력
# tuple
print('a' in ('a', 'b', 'c')) #true 출력
# string
print('j' not in 'python') #true 출력

True
False
True
True

# ***in을 이용한 코드 ***

In [13]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:  #포켓안에 money 가 있으면 
    print("택시를 타고 가라")
else:
    print("걸어가라")
    
#택시를 타고 가라 출력.

택시를 타고 가라

# ***조건식 pass***

In [15]:
if 'money' in pocket:
    print("택시를 타고 가라")
    pass  # 아무것도 실행안시킴.
else:
    print("걸어가라")

택시를 타고 가라

# ***다중if***

In [16]:

# 다중 조건식: elif
# 다양한 조건을 판단
pocket = ['paper', 'handphone']
card = True
if 'money' in pocket:
    print("택시를 타고가라")
elif card:
    print("택시를 타고가라")
else:
    print("걸어가라")
    
#택시를 타고가라 출력.

택시를 타고가라

# ***if문을 한줄로 사용하기***

In [17]:
if 'money' in pocket: pass
else: print("카드를 사용해라.")

  
  #if일떄 pass이므로 아무것도 실행안함.
  # 카드를 사용해라 출력.

카드를 사용해라.

# ***if문 한줄 코드***

In [19]:
score=80
message = "success" if score >= 60 else "failure"
print(message)
  #success가 출력됨.

success

# ***while문의 기본 구조 ***

In [0]:
# '''
# while <조건문>:
#     <수행할 문장1>
#     <수행할 문장2>
#     <수행할 문장3>
#     ...
# '''

# ***while문 사용하기***

In [20]:
# "열 번 찍어 안 넘어가는 나무 없다"는 속담을 파이썬 프로그램으로 반복 실행
treeHit = 0
while treeHit < 10:  #treehit가 9까지만 실행이됨.
    treeHit = treeHit +1  # 실행될때마다 treehit+1
    print("나무를 %d번 찍었습니다." % treeHit) # 계속 출력됨.
    if treeHit == 10: #treehit가 10이랑 같으면 나무넘어간다  출력됨.
        print("나무 넘어갑니다.")
        
        
# 나무를 1번 찍었습니다.
# 나무를 2번 찍었습니다.
# 나무를 3번 찍었습니다.
# 나무를 4번 찍었습니다.
# 나무를 5번 찍었습니다.
# 나무를 6번 찍었습니다.
# 나무를 7번 찍었습니다.
# 나무를 8번 찍었습니다.
# 나무를 9번 찍었습니다.
# 나무를 10번 찍었습니다.
# 나무 넘어갑니다.

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

# ***while문 만들기 ***

In [1]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """  #파이선에있는 독특한 문자열 선언법.

number = 0
while number != 4:
  
    print(prompt)
    number = int(input())  # number에 int형으로 숫자를 입력해줌.

1. Add
2. Del
3. List
4. Quit

Enter number:
1

1. Add
2. Del
3. List
4. Quit

Enter number:
4

# ***파이썬 강제로 빠져나오기***

In [2]:

coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee -1
    print("남은 커피의 양은 %d개입니다." % coffee)
    if coffee == 0: # 만약커피가==0이면 판매를중지합니다를 출력
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break #break 를 걸어서 강제로 빠져나오게함.
        
        
# 돈을 받았으니 커피를 줍니다.
# 남은 커피의 양은 9개입니다.
# 돈을 받았으니 커피를 줍니다.
# 남은 커피의 양은 8개입니다.
# 돈을 받았으니 커피를 줍니다.
# 남은 커피의 양은 7개입니다.
# 돈을 받았으니 커피를 줍니다.
# 남은 커피의 양은 6개입니다.
# 돈을 받았으니 커피를 줍니다.
# 남은 커피의 양은 5개입니다.
# 돈을 받았으니 커피를 줍니다.
# 남은 커피의 양은 4개입니다.
# 돈을 받았으니 커피를 줍니다.
# 남은 커피의 양은 3개입니다.
# 돈을 받았으니 커피를 줍니다.
# 남은 커피의 양은 2개입니다.
# 돈을 받았으니 커피를 줍니다.
# 남은 커피의 양은 1개입니다.
# 돈을 받았으니 커피를 줍니다.
# 남은 커피의 양은 0개입니다.
# 커피가 다 떨어졌습니다. 판매를 중지합니다.

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

# ***while문 코드***

In [3]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: ")) #int형으로 숫자를 입력
    if money == 300:  # money가 300인지 비교
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300: # money가 300보다 큰지비교
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0: #커피가 0이면 break를 걸어줌
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break
        
        
        
        
# 돈을 넣어 주세요: 500
# 거스름돈 200를 주고 커피를 줍니다.
# 돈을 넣어 주세요: 300
# 커피를 줍니다.
# 돈을 넣어 주세요: 200
# 돈을 다시 돌려주고 커피를 주지 않습니다.
# 남은 커피의 양은 8개 입니다.
# 돈을 넣어 주세요: 00
# 돈을 다시 돌려주고 커피를 주지 않습니다.
# 남은 커피의 양은 8개 입니다.
# 돈을 넣어 주세요: 100
# 돈을 다시 돌려주고 커피를 주지 않습니다.
# 남은 커피의 양은 8개 입니다.
# 돈을 넣어 주세요: 300
# 커피를 줍니다.
# 돈을 넣어 주세요: 400
# 거스름돈 100를 주고 커피를 줍니다.
# 돈을 넣어 주세요: 500
# 거스름돈 200를 주고 커피를 줍니다.
# 돈을 넣어 주세요: 600
# 거스름돈 300를 주고 커피를 줍니다.
# 돈을 넣어 주세요: 700
# 거스름돈 400를 주고 커피를 줍니다.
# 돈을 넣어 주세요: 100
# 돈을 다시 돌려주고 커피를 주지 않습니다.
# 남은 커피의 양은 3개 입니다.
# 돈을 넣어 주세요: 300
# 커피를 줍니다.
# 돈을 넣어 주세요: 00
# 돈을 다시 돌려주고 커피를 주지 않습니다.
# 남은 커피의 양은 2개 입니다.
# 돈을 넣어 주세요: 400
# 거스름돈 100를 주고 커피를 줍니다.
# 돈을 넣어 주세요: 200
# 돈을 다시 돌려주고 커피를 주지 않습니다.
# 남은 커피의 양은 1개 입니다.
# 돈을 넣어 주세요: 500
# 거스름돈 200를 주고 커피를 줍니다.
# 커피가 다 떨어졌습니다. 판매를 중지 합니다.

돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 8개 입니다.
돈을 넣어 주세요: 00
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 8개 입니다.
돈을 넣어 주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 8개 입니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 600
거스름돈 300를 주고 커피를 줍니다.
돈을 넣어 주세요: 700
거스름돈 400를 주고 커피를 줍니다.
돈을 넣어 주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 3개 입니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 00
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 2개 입니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 1개 입니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

# ***contiue 사용하기***

In [4]:
print("while문의 맨 처음으로 돌아가기: continue")
###################################
# while문을 빠져나가지 않고 while문의 맨 처음(조건문)으로 
# 다시 돌아가게 만들고 싶은 경우가 생기게 된다. 
# 이때 사용하는 것이 바로 continue문이다.
#
# 1부터 10까지의 숫자 중에서 홀수만 출력하는 것을 while문을 사용해서 작성
#
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: continue # 짝수일때 continue를 실행해서 밑에 있는 print문을 실행하지않고 위로 맨 위로 돌아감.
    print(a)
    
    
# 1
# 3
# 5
# 7
# 9

while문의 맨 처음으로 돌아가기: continue
1
3
5
7
9

while문 무한루프

In [0]:
print("while문의 무한 루프")
###################################
#
"""
while True: 
    수행할 문장1 
    수행할 문장2
    ...
"""
# 무한루프 코드의 예 (^C로 중지 !!!)
while True:
    print("Ctrl+C를 눌러야 while문을 빠져나갈 수 있습니다.")

# ***for문의 기본구조***

In [5]:
# '''
# for 변수 in 리스트(또는 튜플, 문자열):
#     수행할 문장1
#     수행할 문장2
#     ...
# '''
test_list = ['one', 'two', 'three'] 
for i in test_list:  # test_list의 요소값을 하나씩 가져와서 i에 넣어줌.
    print(i)
# one
# two
# three

one
two
three

# ***다양한 for문의 사용***

In [6]:

a = [(1,2), (3,4), (5,6)]

for (first, last) in a: # first 와 last에 두개의 값을 넣어준다.
    print(first + last)
    
    
    
# 3
# 7
# 11

3
7
11

# ***for문 응용하기***

In [7]:
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks:   #mark에 marks의 값을 하나씩 넣어줌.
    number = number +1 
    if mark >= 60: # mark가 60보다 크거나 같은지 비교하고 비교한결과에 따라 출력
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)
    

# 1번 학생은 합격입니다.
# 2번 학생은 불합격입니다.
# 3번 학생은 합격입니다.
# 4번 학생은 불합격입니다.
# 5번 학생은 합격입니다.

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

# ***for문과 continue***

In [8]:
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark < 60: #mark 점수가 60보다 작으면 continue가 실행되어서 밑에있는 코드는 건너뛰고 맨위로 올라가서 실행됨.
        continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

    
    
# 1번 학생 축하합니다. 합격입니다. 
# 3번 학생 축하합니다. 합격입니다. 
# 5번 학생 축하합니다. 합격입니다.

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

# ***for문과 자주쓰는 range함수***

In [11]:
a = range(10)
print(a) # range(0, 10) 출력
print(type(a)) # <class 'range'> 출력
print(list(a)) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 출력

# 리스트로 만들어서 출력을해야 무슨값이 들어갔는지 정확히 할수있다.

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# ***range함수 사용하기***

In [13]:
add = 0 
for i in range(1, 11):  #1부터 11까지 1씩 증가시킨다.
    add = add + i
    print(add)
    
# 1
# 3
# 6
# 10
# 15
# 21
# 28
# 36
# 45
# 55

1
3
6
10
15
21
28
36
45
55

# ***Range함수 응용***

In [14]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)): #len함수를 사용해서 mark의 길이를 가져옴.
    if marks[number] < 60:  #marks 의값이 60보다 큰지 비교
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))
    
    
    
# 1번 학생 축하합니다. 합격입니다.
# 3번 학생 축하합니다. 합격입니다.
# 5번 학생 축하합니다. 합격입니다.

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

# ***이중for문***

In [18]:
for i in range(2,10):         # ①번 for문 (i-loop)
     for j in range(1, 10):   # ②번 for문 (j-loop)
         print(i,"x",j,"=",i*j ,end=" ") # end=" " 줄바꿈을 하지말고 공백을 추가해라.
     print('')   # 줄 바꿈
    

# 2 x 1 = 2 2 x 2 = 4 2 x 3 = 6 2 x 4 = 8 2 x 5 = 10 2 x 6 = 12 2 x 7 = 14 2 x 8 = 16 2 x 9 = 18 
# 3 x 1 = 3 3 x 2 = 6 3 x 3 = 9 3 x 4 = 12 3 x 5 = 15 3 x 6 = 18 3 x 7 = 21 3 x 8 = 24 3 x 9 = 27 
# 4 x 1 = 4 4 x 2 = 8 4 x 3 = 12 4 x 4 = 16 4 x 5 = 20 4 x 6 = 24 4 x 7 = 28 4 x 8 = 32 4 x 9 = 36 
# 5 x 1 = 5 5 x 2 = 10 5 x 3 = 15 5 x 4 = 20 5 x 5 = 25 5 x 6 = 30 5 x 7 = 35 5 x 8 = 40 5 x 9 = 45 
# 6 x 1 = 6 6 x 2 = 12 6 x 3 = 18 6 x 4 = 24 6 x 5 = 30 6 x 6 = 36 6 x 7 = 42 6 x 8 = 48 6 x 9 = 54 
# 7 x 1 = 7 7 x 2 = 14 7 x 3 = 21 7 x 4 = 28 7 x 5 = 35 7 x 6 = 42 7 x 7 = 49 7 x 8 = 56 7 x 9 = 63 
# 8 x 1 = 8 8 x 2 = 16 8 x 3 = 24 8 x 4 = 32 8 x 5 = 40 8 x 6 = 48 8 x 7 = 56 8 x 8 = 64 8 x 9 = 72 
# 9 x 1 = 9 9 x 2 = 18 9 x 3 = 27 9 x 4 = 36 9 x 5 = 45 9 x 6 = 54 9 x 7 = 63 9 x 8 = 72 9 x 9 = 81

2 x 1 = 2 2 x 2 = 4 2 x 3 = 6 2 x 4 = 8 2 x 5 = 10 2 x 6 = 12 2 x 7 = 14 2 x 8 = 16 2 x 9 = 18
3 x 1 = 3 3 x 2 = 6 3 x 3 = 9 3 x 4 = 12 3 x 5 = 15 3 x 6 = 18 3 x 7 = 21 3 x 8 = 24 3 x 9 = 27
4 x 1 = 4 4 x 2 = 8 4 x 3 = 12 4 x 4 = 16 4 x 5 = 20 4 x 6 = 24 4 x 7 = 28 4 x 8 = 32 4 x 9 = 36
5 x 1 = 5 5 x 2 = 10 5 x 3 = 15 5 x 4 = 20 5 x 5 = 25 5 x 6 = 30 5 x 7 = 35 5 x 8 = 40 5 x 9 = 45
6 x 1 = 6 6 x 2 = 12 6 x 3 = 18 6 x 4 = 24 6 x 5 = 30 6 x 6 = 36 6 x 7 = 42 6 x 8 = 48 6 x 9 = 54
7 x 1 = 7 7 x 2 = 14 7 x 3 = 21 7 x 4 = 28 7 x 5 = 35 7 x 6 = 42 7 x 7 = 49 7 x 8 = 56 7 x 9 = 63
8 x 1 = 8 8 x 2 = 16 8 x 3 = 24 8 x 4 = 32 8 x 5 = 40 8 x 6 = 48 8 x 7 = 56 8 x 8 = 64 8 x 9 = 72
9 x 1 = 9 9 x 2 = 18 9 x 3 = 27 9 x 4 = 36 9 x 5 = 45 9 x 6 = 54 9 x 7 = 63 9 x 8 = 72 9 x 9 = 81

# ***for문에 리스트 내포***

In [21]:
a = [1,2,3,4]
result = [num*3 for num in a] #result 배열에 a에있는 1부터 num에 집어넣고 num*3을 result 배열에 넣음.
print(result) # [3, 6, 9, 12]

result1 = [x*y for x in range(2,10) for y in range(1,10)] # x는 2부터 10까지 증가하고 y는 1부터10까지 증가해서 x*y의값을 resutl1에 넣음
print(result1)
# [2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

[3, 6, 9, 12]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

# ***for문에 리스트 내포 2***

In [24]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]  # -> [1, 4, 3, 8, 5, 12, 7, 16, 9]
# 짝수만 추출하여 2배로 만든 리스트 구성
list1=[element * 2 for element in x if element % 2 == 0] # x의 값을 element에 담고 만약 엘레멘트가 짝수이면 element*2의 값을 배열에 넣어줌.
print(list1) #[4, 8, 12, 16]
[

# 그러면 짝수는 2배로, 홀수는 그대로 리스트에 담는 코드는?

list2=[(element * 2 if element % 2 == 0 else element) for element in x] # element가 짝수이면 element*2의 값을 넣어주고, 아니면 그냥 요소 값을 넣어줌 .
print(list2) # [1, 4, 3, 8, 5, 12, 7, 16, 9]

[4, 8, 12, 16]
[1, 4, 3, 8, 5, 12, 7, 16, 9]

# ***다양한 for문 함수 및 사용하기***

In [25]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
#
print("과목명 출력")
for subject in subjects:
    print(subject)
# python
# english
# math
# science


#
print("과목 점수 출력")
for score in scores:
    print(score)
    
#

과목명 출력
python
english
math
science
과목 점수 출력
88
77
66
95

# ***enumerate함수 사용하기***

In [27]:
# enumerate는 인덱스와 벨류값을 튜플형식으로 출력해줌,

for position, subject in enumerate(subjects):  # 인덱스와 벨류값을 다 출력
    print(position,subject)

    
# 0 python
# 1 english
# 2 math
# 3 science


for position, subject in enumerate(subjects):  # 인덱스로 리스트 값을 출력
    print(subjects[position])
    
# python
# english
# math
# science

0 python
1 english
2 math
3 science
python
english
math
science

# ***enumerate()를 이용하여 점수를 출력해보시오.***

In [35]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]

for idx , value in enumerate(scores): # 인덱스를 가지고와 리스트를 출력
  print(scores[idx])


# 88
# 77
# 66
# 95

88
77
66
95

# ***for 문과 itrator의 응용: 복합 문자열 리스트***
# ***method 1***

In [42]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
# Method-1
for position in range(len(subjects)):
    subject = subjects[position]
    score = scores[position]
    print(subject, score)
    
# python 88
# english 77
# math 66
# science 95

print("----------------------------------------------------------------------")


# Method-2
for position, subject in enumerate(subjects):
    score = scores[position] #socre 은 socres인덱스 요소값으로 저장.
    print(subject, score) #벨류 값인 서브젝트와 인덱스로 초기화시킨 score 값이나옴
    
    

    
print("----------------------------------------------------------------------")


# Method-3

for subject, score in zip(subjects, scores):
  #zip은 튜플형식으로 값을 묶어서 돌려줌.
    print(subject, score)

python 88
english 77
math 66
science 95
----------------------------------------------------------------------
python 88
english 77
math 66
science 95
----------------------------------------------------------------------
python 88
english 77
math 66
science 95

# ***평균값을 구해라***

In [43]:
average = 0
total = 0
for subject, score in zip(subjects, scores):
    total += score # total에는 score을 계속 더해줌,
    print(subject, score)

print("평균 점수 = {0}".format(total/len(subjects))) # 포멧팅으로 출력함.



# python 88
# english 77
# math 66
# science 95
# 평균 점수 = 81.5

python 88
english 77
math 66
science 95
평균 점수 = 81.5