<a href="https://colab.research.google.com/github/rlfwo93/Python/blob/master/ch04/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***함수***

In [8]:
print("함수란 무엇인가?")
#######################################
print("""입력값을 가지고 어떤 일을 수행한 다음에 
그 결과물을 내어놓는 것""")
#######################################
print("\n")
print("함수를 사용하는 이유는 무엇일까?")
#######################################
print("""반복되는 부분을 함수로 전환.
코딩을 모듈화""")
#######################################

print("\n")
print("파이썬 함수의 구조")
#######################################
print("""
def 함수명(매개변수):
    <수행할 문장1>
    <수행할 문장2>
    """)

함수란 무엇인가?
입력값을 가지고 어떤 일을 수행한 다음에
그 결과물을 내어놓는 것


함수를 사용하는 이유는 무엇일까?
반복되는 부분을 함수로 전환.
코딩을 모듈화


파이썬 함수의 구조

def 함수명(매개변수):
    <수행할 문장1>
    <수행할 문장2>

# ***함수를 정의하기***

In [11]:
# add() 함수를 정의
def add(a, b): 
    return a + b
  
  
add(4,5) #9

9

# ***add()함수 사용하기***

In [13]:
# add() 함수를 사용
a=3
b=4
c=add(a,b) # 3+4=7
print(c) # 7

x=[1,2,3]
y=[4,5,6]
z=x+y #[1,2,3]+[4,5,6]
print(z) #[1,2,3,4,5,6]
#

7
[1, 2, 3, 4, 5, 6]

# ***매개변수와 인수의 차이를 이해***

In [17]:
print("매개변수와 인수의 차이를 이해하자!")
#######################################
print("""매개변수는 함수에 입력으로 전달된 값을 받는 변수
인수는 함수를 호출할 때 전달하는 입력값을 의미""")
#######################################
# add() 함수에서의 매개변수와 인수
"""
def add(a, b):  # a, b는 매개변수
    return a+b

print(add(3, 4))  # 3, 4는 인수

"""

매개변수와 인수의 차이를 이해하자!
매개변수는 함수에 입력으로 전달된 값을 받는 변수
인수는 함수를 호출할 때 전달하는 입력값을 의미

'\ndef add(a, b):  # a, b는 매개변수\n    return a+b\n\nprint(add(3, 4))  # 3, 4는 인수\n\n'

# ***입력값과 결괏값이 있는 함수의 사용법***

In [18]:
def add2(a, b): 
    result = a + b #3+4
    return result
  
  
a = add2(3, 4) 
print(a) #7

7

# **입력 값이 없는 함수의 사용법.**

In [20]:
def say(): 
    return 'Hi'


# 입력값이 없는 함수의 사용법
# 결괏값을 받을 변수 = 함수이름()
a = say() #hi
print(a) #HI

Hi

# ***결괏값이 없는 함수***

In [22]:
def add3(a, b): 
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))


# 결괏값이 없는 함수의 사용법
# 함수이름(입력인수1, 입력인수2, ...)
add3(3, 4) #3, 4의 합은 7입니다.

# 다음 결과는 무엇인가?
a = add3(3, 4) # 3, 4의 합은 7입니다.
print(a) #리턴을 해서 돌려주는 반환값이 없기때문에 none 이 뜸
#

3, 4의 합은 7입니다.
3, 4의 합은 7입니다.
None

# ***입력값도 결과값도 없는 함수의 사용법***

In [23]:
# 입력값도 결괏값도 없는 함수

def say2(): 
    print('Hi')


# 입력값도 결괏값도 없는 함수의 사용법
# 함수이름()
say() #"HI"

'Hi'

# ***매개변수의 값을 지정하여 호출하기.***

In [25]:
#######################################
print("매개변수의 값을 지정하여 호출하기")
#######################################
def add4(a, b):
    return a+b


result = add4(a=3, b=7)  # a에 3, b에 7을 전달
print(result) #10

# 매개변수의 순서에 상관없이 사용
result = add4(b=5, a=3)  # b에 5, a에 3을 전달
print(result) # 8
#######################################

매개변수의 값을 지정하여 호출하기
10
8

# ***입력값이 몇개가 될지 모를 때***

In [26]:
"""
def 함수이름(*매개변수): 
    <수행할 문장>
    ...
"""
def add_many(*args):  #튜플형태로 돌려줌
    result = 0 
    for i in args: 
        result = result + i 
    return result 

add_many(1, 2, 3)
add_many(1, 2, 3, 4, 5, 6, 7, 8, 9)

result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

# 여러 개의 입력을 처리하는 함수(*args)

In [27]:

def add_mul(choice, *args):
    if choice == "add":
        result = 0 
        for i in args:
            result = result + i 
    elif choice == "mul":
        result = 1 
        for i in args: 
            result = result * i 
    return result 

# add
result = add_mul('add', 1,2,3,4,5)
print(result) # 15
# multiply
result = add_mul('mul', 1,2,3,4,5)
print(result) #120

15
120

# ***키워드 파라미터 kwargs***

In [30]:
print("키워드 파라미터 kwargs")
#######################################

def print_kwargs(**kwargs):
    print(kwargs)


# print_kwargs 함수는 매개변수 kwargs를 출력하는 함수
#
print_kwargs(a=1) #{'a': 1}

print_kwargs(name='foo', age=3) # {'name': 'foo', 'age': 3}

#
# **kwargs처럼 매개변수 이름 앞에 **을 붙이면 매개변수 
# kwargs는 딕셔너리가 되고 모든 key=value 형태의 결괏값이 
# 그 딕셔너리에 저장된다.
#

키워드 파라미터 kwargs
{'a': 1}
{'name': 'foo', 'age': 3}

# ***함수의 결괏값은 언제나 하나***

In [32]:
print("함수의 결괏값은 언제나 하나")
#######################################
#
def add_and_mul(a,b): 
    return a+b, a*b #결과값이 두개이지만 이 결과값들을 튜플형식으로 반환해줌.


# add_and_mul() 사용 1.
result = add_and_mul(3,4) 

print(result) # (7,12)

# add_and_mul() 사용 2.
result1, result2 = add_and_mul(3, 4)

print(result1, result2) # 7, 12 각각의 값을 다른 변수의 넣어줌.

#######################################
print("잘못된 함수")
#######################################
def add_and_mul2(a,b): 
    return a+b 
    return a*b  # Not working!! 위에서 리턴을만나 값을반환하고 함수를 종료시켰기때문에  동작하지않음.


result = add_and_mul2(2, 3)
print(result) # 5

함수의 결괏값은 언제나 하나
(7, 12)
7 12
잘못된 함수
5

# ***리턴의 용도***

In [33]:
print("return 의 용도: 함수 실행 종료")
#######################################
def say_nick(nick): 
    if nick == "바보": 
        return 
    print("나의 별명은 %s 입니다." % nick)


say_nick("홍길동")
say_nick("바보") # 이름이 바보이면 그냥 종료.

return 의 용도: 함수 실행 종료
나의 별명은 홍길동 입니다.

# ***매개변수에 초깃값 미리 설정하기***

In [37]:
print("매개변수에 초깃값 미리 설정하기")
#######################################
def say_myself(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")
    

say_myself("박응용", 27)
say_myself("박응용", 27, True)

say_myself("박응용", 27, False)


#def say_myself2(name, man=True, old): 
#    print("나의 이름은 %s 입니다." % name) 
#    print("나이는 %d살입니다." % old) 
  #  if man: 
   #     print("남자입니다.") 
    #else:
     #   print("여자입니다.")
      
      
      
#초깃값을 설정해 놓은 매개변수 뒤에 
# 초깃값을 설정해 놓지 않은 매개변수는 사용할 수 없다
# 초기화시키고 싶은 매개변수를 항상 뒤쪽에 놓는다.

매개변수에 초깃값 미리 설정하기
나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살입니다.
여자입니다.

# ***함수 안에서 선언한 변수의 효력 범위***

In [49]:
#######################################
print("함수 안에서 선언한 변수의 효력 범위")
# 전역변수
# 지역 변수, 자동 변수
#######################################

# vartest.py
a = 1
def vartest(a):
   a = a +1
   return a 

print(vartest(a)) #2
print(a) # 1

# vartest_error.py
def vartest2(z2):
    z2 = z2 + 1

vartest2(3)

#print(z2)  # Error
            # 전역변수로 z2를 선언안하고 함수안에 지역변수로만 z2를 선언했기떄문에 정의하지않았다고 에러가뜸.

함수 안에서 선언한 변수의 효력 범위
2
1

NameError: ignored

# ***함수 안에서 함수 밖의 변수를 변경하는 방법***

# ***return 사용하기***

In [50]:
# 1. return 사용하기
a = 1 
def vartest3(a): 
    a = a +1 
    return a

a = vartest3(a)  # 2의 값을 리턴해주는데 그것을 다시 a로 제정의함.
print(a) #2

2

# ***global 사용하기***

In [52]:
a = 1 
def vartest4(): 
    global a  #전역변수를 가져옴.
    a = a+1 # 2가됨.
               # 리턴하지않아도 값을 바꿀수가있음.
vartest4()  
print(a) # 2

2

# ***lambda함수***

In [54]:
dd = lambda a, b: a+b # a, b를 받고 a+b의 값을 줌.

result = add(3, 4)
print(result)
# lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 표현식
#
# lambda 예약어로 만든 함수는 return 명령어가 없어도 결괏값을 돌려준다.

################################
# lambda 함수의 응용
#
models = ['K-3000', 'N-1000', 'T-2000', 'X-5000']
sorted(models, key=lambda x: x[-4:])
#인덱싱으로 잘른 값을 키값으로 정렬한다음 반환해준다.

7

['N-1000', 'T-2000', 'K-3000', 'X-5000']

# ***사용자 입력***

In [56]:
print("사용자 입력과 출력")
#######################################
# 사용자의 입력을 받는 방법과 출력하는 방법
#######################################

print("사용자 입력")
# 사용자가 입력한 값을 어떤 변수에 대입
#######################################
print("input의 사용")
#######################################

a = input()
# Life is too short, you need python
a

사용자 입력과 출력
사용자 입력
input의 사용
웅웅

'웅웅'

# ***입력 안내문구를 이용한 input사용***

In [60]:
#######################################
# input("안내 문구")
#######################################

number = input("숫자를 입력하세요: ")

print(number)

숫자를 입력하세요: 3
3
숫자를 입력해라2

# ***사용자 출력***

In [61]:
print("사용자 출력: print()")
# 입력한 자료형을 출력
#######################################
print("print의 사용")
#######################################

a = 123
print(a)

a = "Python"
print(a)

a = [1, 2, 3]
print(a)

#######################################
print("큰따옴표(\")로 둘러싸인 문자열은 + 연산과 동일")
#
print("life" "is" "too short")
print("life"+"is"+"too short")


#######################################
print("문자열 띄어쓰기는 콤마로 한다")
#
print("life","is","too short")


#######################################
print("한 줄에 결괏값 출력하기")
#
for i in range(10):
    print(i, end=' ')

사용자 출력: print()
print의 사용
123
Python
[1, 2, 3]
큰따옴표(")로 둘러싸인 문자열은 + 연산과 동일
lifeistoo short
lifeistoo short
문자열 띄어쓰기는 콤마로 한다
life is too short
한 줄에 결괏값 출력하기
0 1 2 3 4 5 6 7 8 9

# ***파일 ***

In [62]:
print("파일 읽고 쓰기")
#######################################
# 파일을 통한 입출력 방법에 대해 알아보자.
#######################################

print("파일 쓰기(생성하기)")
#
# 파일 객체 = open(파일 이름, 파일 열기 모드)
#
# 파일열기모드
# r	읽기모드 - 파일을 읽기만 할 때 사용
# w	쓰기모드 - 파일에 내용을 쓸 때 사용
# a	추가모드 - 파일의 마지막에 새로운 내용을 추가 시킬 때 사용
#

f = open("새파일.txt", "w") #기존에 내용이 있더라도 w를 써서 쓰면 기존의 파일은 다날아감.
f.close()
# 파일이 어디에 만들어졌는 지 확인하시오!!!
#ctrl+z를 누르면 빠져나감.
# 다른 폴더에 파일 생성
# 파일은 내가 지정해논 default폴더에 생성되기때문에 추가해줘야함.
#import sys import를 시켜야함.
#sys.exit() 빠져나가는 함수
"""
f = open("C:/doit/새파일.txt", 'w')
f.close()
"""

파일 읽고 쓰기
파일 쓰기(생성하기)

'\nf = open("C:/doit/새파일.txt", \'w\')\nf.close()\n'

# ***파일을 쓰기 모드로 열어 출력값적기 
# ***모니터에 출력하기***

In [63]:
for i in range(1, 11):
    data = "%d번째 줄입니다.\n" % i
    print(data)

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

# ***파일에 기록(출력)***

In [0]:
# 파일에 기록(출력)
# writedata.py
f = open("./새파일.txt", "w") #파일을쓰기모드로 염.
for i in range(1, 11):
    data = "%d번째 줄입니다.\n" % i
    f.write(data) #data하나하나를 data에 넣어줌.
    # 파일 > 기본설정 > 설정 > Files: Auto Guess Encoding 을 지정(check)
 
f.close()

# ***파일 읽기***
# ***readline함수 사용하기***

In [66]:
# 1. readline() 함수
# readline_test.py
f = open("새파일.txt", "r")
line = f.readline()
print(line) #한줄씩 읽어들임.
f.close()

# readline_all.py
f = open("새파일.txt", "r")
while True: #계속읽어들이다가 이제 읽을 자료가 없으면 break로 탈출.
    line = f.readline()
    if not line:
        break
    print(line)
f.close()

1번째 줄입니다.

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

# ***사용자 입력을 이용한 화면 출력.***

In [0]:
while 1: #입력값이 있으면 계속 출력하고 없으면 break로 탈출.
    data = input()
    if not data:
        break
    print(data)

# ***readlines()함수 사용하기***

In [67]:
# 2. readlines() 함수
f = open("새파일.txt", "r")
lines = f.readlines() #모든정보를 lines에 넘겨줌.
for line in lines: #line변수에 저장.
    print(line)  # , end="")
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

# ***read 함수 사용하기***

In [70]:
# 3. read() 함수
f = open("새파일.txt", "r")
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']

# ***파일에 새로운 내용 추가하기***

In [71]:
# adddata.py
f = open("새파일.txt", "a") #맨뒤 데이터부터 새로운 자료를 추가함.
for i in range(11, 20):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

# 수정된 파일 확인
f = open("새파일.txt", "r")
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.

# ***with문과 함께 사용하기***

In [0]:
#
# with문을 사용하면 with 블록을 벗어나는 순간
# 열린 파일 객체 f가 자동으로 close 된다.
#
f = open("foo.txt", "w")
f.write("Life is too short, you need python")
f.close()

with open("foo1.txt", "w") as f:
    f.write("Life is too short, you need python")